[2018-03-14 13:07] thekorn opened #639 "python-dateutil 2.7.0: TypeError in `parser.parse()`"
This code worked in python-dateutil 2.6.1 but raises a TypeError in 2.7.0:

[code]

[code]

[2018-03-14 13:23] pganssle commented on #639
It was incidental that this "worked" in the first place, as that is now how `tzinfos` is used.

I'm not really sure what you were going there. If you want the parsed datetime to be interpreted as UTC only if no other time zone was found in the string, you can use the new `dateutil.utils.default_tzinfo` function.

[2018-03-14 13:31] #639 closed

[2018-03-15 23:42] fortran-favors-the-old opened #640 "No exception raised when parsing datetime string with bogus year"
The parser doesn't raise an exception when the year is the bogus value `000A`:

[code]

Interestingly the parser *does* raise an exception with the bogus year `200A`, which is good:

[code]

I'm using `python-dateutil==2.7.0` with Anaconda Python 3.6.4 on macOS 10.11.6:

[code]

I've also verified that the same behavior occurs with a09c9d65bd4a5fbc344593905bf81e175e3539c0, which is the tip of mast

[2018-03-16 17:00] jeinarsson opened #641 "rrule does not play well with pytz tzinfo at daylight savings?"
Hi again, it's not clear if this is a dateutil bug, but it's at least a problem for users:

I parse a calendar with the `icalendar` package which returns datetimes localized with `pytz`.

Problem:
When using rrule to expand a recurring event, the occurences do not seem to respect Daylight savings. Here's a stand alone example:

[code]

Output
[code]

But in America/Los_Angeles Daylight savings sta

[2018-03-16 19:57] pganssle commented on #640
CC @jbrockmendel You fixed this one last time. I was really surprised that this wasn't a duplicate!

[2018-03-16 20:14] pganssle commented on #641
I would recommend not using `pytz` for this (and in fact, I would recommend not using it at all).

You can see [this not yet released blog post](https://blog.ganssle.io/drafts/pytz-fastest-footgun.html) where I go into detail about the differences between `pytz` and `dateutil`'s timezone models. I also cover it in [this talk](https://www.youtube.com/watch?v=l4UCKCo9FWY), if you're more of a video

[2018-03-16 20:14] #641 closed

[2018-03-16 20:54] jeinarsson commented on #641
Thanks, sorry, I should've found #102 and #88.

That explains the observed behavior.

In my case I happened to use icalendar which uses pytz internally, which silently leads to bad output. As a blissfully ignorant dateutil user I would appreciate a warning if rrule could detect pytz tzinfo's, but I of course respect if you'd prefer to not clutter your code with checks for obscure incompatabilities

[2018-03-16 21:03] pganssle commented on #641
Yeah that is quite fraught, and it's really a pytz problem, not a dateutil problem. I think trying to prevail on icalendar to drop their unnecessary pytz dependency might be better, since they are apparently doing entirely the wrong thing.

[2018-03-16 21:35] jeinarsson commented on #641
I agree. A helpful warning from dateutil is more like band-aid while the world tries to agree on how to deal with tzinfo.

[2018-03-17 01:00] jbrockmendel commented on #640
Yah, I'll have to take a look at this.  Is this time-sensitive or can it wait through the weekend?

[2018-03-17 01:03] pganssle commented on #640
I can't imagine it's time sensitive since it's never worked before AFAIK.

[2018-03-17 01:04] fortran-favors-the-old commented on #640
Not time sensitive for me. I was just fuzzing input out of interest.

[2018-03-19 13:53] pganssle opened #642 "Provide a mechanism to get the Olson name of a zone"
This may not always be possible, but I think it could be very useful, and the overwhelmingly most common case here is that `tzfile` objects are created by `tz.gettz(OLSON_NAME)`, where at *some* point we at least had this information. Worst case scenario we pass this directly to `tzfile` and expose it as something like `zone_name`.

It is also worth considering switching over `__str__` so that it

[2018-03-21 13:41] pganssle commented on #575
@Harmon758 The parser needs an overhaul in a way that is totally blocked on me learning more about the theory of parsing, unfortunately, so it's not entirely clear the right way to proceed with this.

That said, I don't think it will ever go in the main `dateutil` package. Instead, I'd like to start a new project, something like `dateutil.zonepacks`, which is importable separately from `dateutil`

[2018-03-21 21:29] jbrockmendel commented on #575
@pganssle is there an Issue to discuss this (dont want to derail this thread)?  I'm curious if there's progress or an ETA, have been holding off on parsing PRs in part because of this blocking.

w/r/t @Harmon758's question, is this a matter on which sufficient community consensus could sway your thought process?

[2018-03-21 22:26] pganssle commented on #575
@jbrockmendel Like, to include it by default? I'm more or less convinced to create a new package that does just this, I just don't want to jump the gun because the time zone parsing stuff is pretty annoyingly limited right now.

[2018-03-23 15:07] jbrockmendel commented on #575
Yes.  It isn't clear to me that default tzinfos are "big" enough to merit a new package (nor that they would be really useful independent of dateutil).  Do you envision this as being something more than a handful of {str: tzinfo} dictionaries?

[2018-03-23 15:21] pganssle commented on #575
It's a matter of scope. I want to move all "data" out of the main `dateutil` package, including the `zoneinfo` package, so that those can be updated without a change to the underlying "code" packages.

Also, this is of course very US-centric, and might be trickier than you'd think.

Consider:

[code]

Under certain assumptions, you can more or less map `MST` to `'America/Denver'`, but if it's in t

[2018-03-24 16:59] #592 closed

[2018-03-24 17:06] pganssle opened #647 "No documentation for gettz"
Currently there is no documentation for `gettz`, which is the primary interface through which one gets Olson database zones.

Some prior art that should be cobbled together to make real documentation:

- [Here are some slides about gettz](https://pganssle.github.io/pygotham-2016-dateutil-talk/#/4/3) - [video here](https://youtu.be/X_bCto95Imc?t=20m25s) (audio is messed up)
- [Here is the actual im

[2018-03-24 17:12] jbrockmendel commented on #575
Separating the "data" from the code for versioning purposes makes sense.  The end result should still have a single "pip install X" that Just Works; that may mean separting both dateutil[data] and dateutil[code] and having the python-dateutil "namespace" superset both.

Sounds like we should start putting this together and iterate towards the desired implementation.  We could get the implementatio

[2018-03-24 19:00] pganssle commented on #620
Fixed in #634

[2018-03-24 19:00] #620 closed

[2018-03-26 09:36] href opened #652 "Default DTSTART in rrule lacks a timezone"
Since 2.7, the following code fails in our project:

[code]

This is the error we see:

[code]

The comment around the exception mentions this:

[code]

We however do not specify the DTSTART property. Dateutil defaults to the current date in this case. However, said default does not have a timezone. Because we do however pass a timezone with our UNTIL property, we run into this exception.

Now I t

[2018-03-26 12:53] pganssle opened #653 "Python 2 deprecation schedule"
I've been giving a lot of thought as to the Python 2 deprecation schedule for `dateutil`, and I think I have come up with a tentative plan. Before I go ahead and put it on [Python 3 statement](https://github.com/python3statement/python3statement.github.io).

Here is my current plan and timeline:

1. August-September 2018: **3.0 release** - Supporting Python 2.7, 3.4+
       We have a lot of deprec

[2018-03-26 13:10] pganssle commented on #652
Hm. It is unclear to me whether the RFC requires DTSTART or not. I think it *is* required for some iCalendar components (e.g. VEVENT), but that the RRULE itself can take DTSTART from its parent element.

If we're allowing the generation of arbitrary RRULE elements without `dtstart` and filling in the current time as `dtstart`, then I think it's fair to generate a `dtstart` in the same time zone th

[2018-03-26 13:34] jelly opened #654 "rrule.between is quite slow"
The following snippet takes ~ almost 0.1 seconds to run, this seems to be due to dateutil iterating over all the dates from 2000 till 2020. There may be an possibility to not loop over all the days, speeding the calculation up but only for this simple case I guess. For example starting at the between startdate, but this doesn't seem easy to implement or would have to be special cased for 'easy' re

[2018-03-26 13:53] pganssle commented on #654
@jelly Yes, I'm very interested in performance enhancements to `rrule`.

There are definitely some easy ones to be had with simple rules like `DAILY`, `YEARLY` etc. One problem with implementing such enhancements is that `rrule` maintains a cache so that this extensive cost is paid only one time. For "simple" rules you can probably skip around, but doing so means that you don't populate the cache

[2018-03-26 14:55] AdamIsrael opened #657 "Fatal error installing 2.7.1"
I encountered the following error while building a docker container that uses python-dateutil:

[code]

The full output is [here](https://paste.ubuntu.com/p/vJQpb6jWQ4/).

It looks like an encoding issue, with a non-ascii character in the README, but it looks like this was fixed in commit f39c1ae6fb6082464077d681fdc80a4ab3679466 several hours ago. Is there an ETA on a new release?

[2018-03-26 15:01] pganssle commented on #657
2.7.2 release is now out with this fixed.

[2018-03-26 15:01] #657 closed

[2018-03-26 17:08] srepmub commented on #654
what about using something like cython, to get these tight loops potentially much faster, for any pattern..?

[2018-03-27 06:16] mgedmin commented on #653
I think you meant "pinned to python-dateutil < 4.0.0".

[2018-03-27 12:53] pganssle commented on #653
@mgedmin No, I meant pinned to `python-dateutil<5.0.0` (though you're right, I didn't mean `<=`). The point would be that code written for 3.0 would still work with code written for 4.0, except that the 4.x branch doesn't work with Python 2. If you pin to `python-dateutil<5.0.0` on your app that supports both Python 2 and 3, your Python 2 users will get something from the 3.x line and your Python

[2018-03-27 13:01] pganssle commented on #654
@srepmub A compiled backend *may* help, but in some ways that's beside the point. Because of the way `rrule` is written, @jelly's code will always generate 7305 unused dates (every day between 1 Jan 2000 and 1 Jan 2020), just to generate the 30 dates it's actually intending to use, but you could make it >= 250x faster in this instance if `rrule` could detect ahead of time that this is one of those

[2018-03-27 13:39] srepmub commented on #654
sure, you could just optimize a few simple cases, but I think you may be underestimating the potential speedup of using cython or a manually written extension module (which I would guess to be something like a factor of 10 to 100 in this case).

it seems natural to me for a much-used, library like dateutil to not do its core calculations in pure python..

[2018-03-27 13:58] pganssle commented on #654
@srepmub I am not underestimating it at all, and in fact have plans for a compiled backend. It's not an amazingly simple undertaking because `dateutil` is used *incredibly* widely, meaning that any binaries need to be built for all supported versions of Python on all supported platforms.

Additionally, I am hoping to write the backend in Rust rather than C, but the bindings between Rust and the CP

[2018-03-27 14:06] srepmub commented on #654
okay, sorry, guess I misinterpreted you saying 'it _may_ help', as english is not my first language.. :) in any case, great to hear you are working on a compiled backend!

[2018-03-27 15:16] mgedmin commented on #653
Ah, I see!  I'm still not used to `Python-Requires` (which needs a very recent `pip`, IIRC).

[2018-03-27 16:55] pganssle opened #658 "Isoparser misinterprets T24:00"
When I originally wrote the ISO 8601 parser, I misinterpreted the standard. From [Wikipedia](https://en.wikipedia.org/wiki/ISO_8601#Times):

But:

[code]

This is a bit tricky to handle because time and date parsing happen separately, so there's no obvious way to increment the date based on the value of the time until after it's parsed (at which point there is no difference between `00:00` and `24

[2018-03-29 04:41] Zac-HD commented on #653
The overall plan sounds good, but I'd explicitly stop *any* free support for Python 2 at 2020-01-01, which would mean dropping the reference to 'indefinite' zoneinfo support.  Paid support is a different story, but that distinction is IMO important for both the 2/3 transition and OSS sustainability communities.

[2018-03-29 12:40] pganssle commented on #653
@Zac-HD I'm not really in a position to accept any payment for support, nor am I particularly interested in that. By "indefinite" I mean, "so long as it does not significantly inconvenience me to do so", but given that before the 3.0 release I'm planning on splitting the zoneinfo package into a separate data-only package, it may well come free with providing zoneinfo updates to Python 3 (since it

[2018-03-29 17:35] Carreau commented on #653
Yes, Dec 2016 (pip 8+). So mostly old systems with system pip will install old-incompatible version by missing the Python-Requires field.

There is a short recap of the talk [here](http://python3statement.org/practicalities/) if you prefer to read. TLDR being to explicitly fail in setup.py if you detect python2 to avoid installing an incompatible version.

Exited to see more people joining the Py3

[2018-03-29 18:07] adamwshero opened #659 "dateutils 2.7.0 > causes multiple exception errors"
On Python v3.6.4 / PIP 9.0.3, a number of dependency errors are generated after running the 'awssaml' command. (see attachment 1)

To resolve, the python-dateutil needs to be downgraded from 2.7.2 to v2.6.1 (see attachment 2) as this appears to have broken with the March 18 release of 2.70 and >. This issue is not specific to running the awssaml command but is just an example of the dependency exc

[2018-03-29 18:12] #659 closed, assigned to nobody

[2018-04-03 00:22] mahmoud commented on #653
Generally, I haven't found maintaining 2/3-compatible code all that difficult, and I think it's worth it for a lot of less-vocal users. Granted, maybe there are changes with `fold` and other aspects of datetimes that make this undesirable. I'd like to see 2 support continue indefinitely, because for an unfortunate number of projects, ending 2 spells ending their usage of Python.

Anyways, aside fr

[2018-04-03 00:34] Carreau commented on #653
Thanks ! I didn't knew and will share that with the Jupyter team.

Python 2/3 simultaneous  support can be easy for some project and hard for others. We dropped for IPython because some area were truly impossible to maintain in both.
For many python 2 users they actually don't need new version of their software, so dropping is no an issue.

Sidenote, for Py2/3 compat we maintain an open backport b

[2018-04-03 00:55] pganssle commented on #653
@mahmoud If people are willing to use a 10+ year old, unmaintained version of Python, I don't see why a 2-year-old unmaintained version of the (quite stable) `dateutil` library would somehow be a dealbreaker for them.

If you're using only Python 2 and Python 2 features, then yeah it's easy to maintain 2/3 compatibility, but there are a *ton* of useful features in Python 3 that can't be trivially

[2018-04-03 01:09] Carreau commented on #653
Let me know if it works/if you want more informations. Right now it requires push access but I have plan to avoid that. Just need to write the code.

[2018-04-03 01:42] mahmoud commented on #653
@Carreau Let me know what they think about CollabMark!

@pganssle It's not really fair to call 2.7 10+ years old, or if one does, to use that as a criticism. Almost all of Python-the-language's best features are even older than that. It's also not fair to compare Python 2.7.x to anything other than Python 3 tip. The IRL adoption (and real-world testing) have long been night and day.

I've always b

[2018-04-03 01:57] pganssle commented on #653
I don't mean it as a criticism, I just mean that people using Python 2 probably are more concerned with stability than with getting the latest features. `dateutil`'s core feature set is quite stable, just like Python 2's. When we drop support, it doesn't mean that users from Python 2 can't use `dateutil` anymore, it just means they can only use the perfectly good `3.x` branch, or they have to writ

[2018-04-03 03:35] Carreau commented on #653
Let's not (re)start a discussion on if python 2 support should be dropped or when, at least not here, that would be a slippery slope. This has been hashed and rehashed many times.

Let focus on making sure dateutil have a nice and planned transition that disturb users the least.

[2018-04-03 03:58] mahmoud commented on #653
@Carreau Not sure what made you think that's what was happening here, my core suggestion was to document what, if any, Python 3 features or Python 2 misfeatures were leading to an earlier drop in support.

The Python 3 statement isn't news to me, though its list of scientific packages has grown a bit since I last looked. Hopefully I'm not being too on the nose by pointing out that -- aside from th

[2018-04-03 04:52] mahmoud commented on #653
Also, probably well-known by the current thread participants, but [libraries.io gives a pretty good sense](https://libraries.io/pypi/python-dateutil/usage) of just how many non-scientific projects depend on dateutil. Granted that's mostly FOSS, and the caution I'm trying to articulate is mostly motivated from industrial and personal use. :)

[2018-04-03 12:25] pganssle commented on #653
The fact that `dateutil` hits a wider swathe of libraries than the ones already dropping Python 3 support is an argument in favor of doing it, not against. As I've mentioned before, "dropping support" sounds much more dramatic than it actually is. Python 2 stopped getting new features *years* ago, so basically everything that applies to `dateutil` applies to Python 2 itself, and the only people ac

[2018-04-06 22:00] MareinK opened #660 "relativedelta division"
In `datetime`, it is possible to divide two `timedelta`s:

[code]

However the same is not possible in `dateutil` with `relativedelta`:

[code]

I feel it would be good to include this functionality in `dateutil`. I know it would not make sense in some cases but I feel in many it would. Thoughts?

[2018-04-07 19:11] jbrockmendel commented on #660
I think this was discussed in a PR a while back and ultimately special-casing was rejected.  If you have a case where division makes sense, why not just use a timedelta?

[2018-04-08 00:52] pganssle commented on #660
I think the reasoning laid out in #350 applies here. The division operation will likely be meaningful for `calendardelta` (see #524), but it is not particularly meaningful for `relativedelta`.

[2018-04-08 00:52] #660 closed

[2018-04-08 01:02] pganssle opened #661 "Allow tzinfos to return None"
Currently, if you the result of a `tzinfos` call *explicitly* returns `None`, that will throw an error:

[code]

The whole point of #540  was that implicitly silently failing was a bad behavior, but you should certainly be able to opt in to not caring about the time zone by returning `None`.

Note: As an aside, there's a typo I didn't notice there, it says "In a future version, this raise an excep

[2018-04-08 21:57] ecbftw commented on #652
FYI - It appears the Radicale project can't handle files provided by Google or Thunderbird right now, if the UNTIL property is set.  This appears to be directly related to this issue, but I'm no expert.

[2018-04-09 16:56] amureki opened #662 "InvalidOperation: `[<class 'decimal.InvalidOperation'>]` while parsing `Nan`"
Hi there!

We discovered a problem with the latest release (2.7.2):
[code]

Is raising `InvalidOperation` with a traceback:

<details>

[code]

</details>
<hr/>

My environment:
[code]

I am not sure how to properly tackle this problem yet. If you are having busy times with the other bugs, please, point me to where it would be better to handle this exception and I will provide a bugfix!

Thank you

[2018-04-09 17:00] jbrockmendel commented on #662
This is very similar to the test case in #491.  Most of that PR is unnecessary for fixing this, but you could extract the relevant function and test case pretty easily.

[2018-04-11 15:58] pganssle commented on #520
This may actually be done?

[2018-04-12 13:02] pganssle opened #663 "Documentation exercises"
This is a new kind of "issue" I'd like to try out that is *specifically* for people new to the library.

I will propose a problem that I know can be solved using `dateutil`, and I'd like one or more users to try to solve this puzzle using *only* the [`dateutil` documentation](https://dateutil.readthedocs.io/en/latest/).

We'll put these examples as "exercises" in the documentation, possibly with s

[2018-04-12 13:30] pganssle opened #664 "Exercise: Martin Luther King day"
This is an example exercise to be solved by a new user to the library *using only the dateutil documentation*, per #663.

# Exercise: Martin Luther King, Jr Day

### Test cases:
[code]

To Do:

- [x] Add this exercise to the documentation
- [ ] Add solution to the documentation
- [x] Improve documentation for `rrule` based on this

[2018-04-12 13:53] pganssle opened #665 "Exercise: Next Monday meeting"
This is an example exercise to be solved by a new user to the library using only the dateutil documentation, per #663.

# Excercise: Next Monday meeting

### Test Cases
[code]

[2018-04-12 14:32] pganssle opened #666 "Exercise: Parsing a local tzname"
This is an example exercise to be solved by a new user to the library using *only the dateutil documentation*, per #663.

# Excercise: Parsing a local tzname

## Problem 1

### Test cases
[code]

### To Do
- [ ] Add exercise to documentation
- [ ] Add solution to documentation
- [ ] Improve documentation for `parser` based on this

[2018-04-12 15:04] pganssle opened #667 "Exercise: Constructing a bus schedule"
I do not currently have time to flesh this out and write the test cases, but a somewhat more "advanced" documentation exercise (See #663) might be the "construction of a bus schedule" example that I go through in [these slides](https://pganssle.github.io/pygotham-2016-dateutil-talk/#/3).

[2018-04-12 15:54] pganssle opened #668 "Use singletons or factories for all time zone classes"
Similar issue to #342, which seeks to add caches to time zone functions to make lookups faster, we should *also* try to always return the exact same object, because Python's model is that two `datetime` objects are in the same timezone if and only if `dt1.tzinfo is dt2.tzinfo`. I have two blog posts on why this matters for datetime semantics:

1. [A curious case of non-transitive datetime comparis

[2018-04-12 16:47] pganssle opened #670 "Wrong link syntax in relativedelta examples"
I noticed that in the [relativedelta examples](https://dateutil.readthedocs.io/en/latest/relativedelta.html#examples) there is a link using the wrong syntax for RST, so it's not getting turned into a link.

The issue is [this line](https://github.com/dateutil/dateutil/blame/master/docs/relativedelta.rst#L143), which currently reads:

But should read:

It needs to be turned into RST syntax, which i

[2018-04-12 21:57] cs-cordero commented on #635
I'd be interested in working on this.

[2018-04-12 22:26] kvn219 commented on #665
Hi! I would like to pick this up.

[2018-04-12 22:37] ziabytes commented on #623
Working on this, boss

[2018-04-12 22:45] rongoodbin commented on #665
EJ, Ron , and Orson picking this up at microsoft meetup !

[2018-04-12 22:55] ElliotJH commented on #665
Before spotting that this was a relativedelta task I looked at:
[code]

[2018-04-12 23:01] kvn219 commented on #664
Hi.

Here is my solution!

[code]

[2018-04-12 23:28] rmahajan14 commented on #664
start_date = datetime(1986, 1, 1)
rr = rrule(YEARLY, byweekday=(MO(3)),
                dtstart=start_date)

[2018-04-12 23:31] rmahajan14 commented on #664
[code]

[2018-04-12 23:34] ChHeYo commented on #664
[code]

[2018-04-12 23:35] andymaheshw commented on #666
Which section of the documentation does this go in?

[2018-04-12 23:50] colfax23 commented on #443
I'll take this one

[2018-04-13 00:57] GabrielBianconi opened #675 "Duplicate Sentence in README"
The sentence below occurs twice in a row:

[2018-04-13 02:47] jbrockmendel commented on #668
Is this referring to the timezone environment variable changing, or to a DST transition?  (or both)?

[2018-04-13 18:49] pganssle commented on #664
@ChHeYo @rmahajan14 @kvn219 Was there anything confusing in the documentation that hindered your ability to figure out this exercise?

[2018-04-13 18:49] pganssle commented on #666
That is still undecided.

[2018-04-13 18:52] pganssle commented on #668
@jbrockmendel DST transitions are fine because the object itself is supposed to represent a function for determining DST transitions.

The problem is when you change the system time zone (e.g. environment variable) and then call `time.tzset`. Theoretically it would also happen if you changed the system time zone in Windows and did that, but there's a bug in CPython that makes Windows not pick up c

[2018-04-13 19:20] ridhi1412 opened #677 "documentation not generated for methods defined on rrulebase"
There seems to be some bug with the documentation generation for rrule.

For e.g. rrule.between does have a docstring

(https://github.com/dateutil/dateutil/blob/master/dateutil/rrule.py#L270)

but does not have any documentation (http://dateutil.readthedocs.io/en/stable/rrule.html).

Similarly for the methods  'after', 'xafter', etc.

[2018-04-14 13:43] #675 closed

[2018-04-14 16:26] ParseThis commented on #665
@pganssle  I extended the tests in the exercise to add the case:  if it currently a Monday but before 10am, the function should return that the same Monday 10am.

so the next steps should be add the extended test and the solution to the relativedelta.rst right?

[2018-04-14 16:28] pganssle commented on #665
@ParseThis I haven't quite decided where these exercises will go yet.

[2018-04-14 18:42] ParseThis commented on #661
@pganssle  Having a look at this. In  the second case shouldn't this still be the correct behaviour?

[2018-04-14 18:49] pganssle commented on #661
@ParseThis Yes, the second case is the correct behavior. I was just demonstrating that the behavior is only triggered when the `tzinfos` returns a proper value.

[2018-04-14 18:55] #662 closed

[2018-04-14 19:30] #635 closed

[2018-04-14 21:02] pganssle commented on #342
I started doing this to see if I could improve the speed of some of these time zones and I noticed that one major problem here is that all the `tzinfo` interface functions take `dt` as a parameter, and the hash function for datetime involves evaluating `utcoffset()`, which causes an infinite recursion.

What's worse, `datetime.replace` is actually quite a slow operation, so `dt.replace(tzinfo=None

[2018-04-16 01:49] rmahajan14 opened #684 "Version number not appearing in documentation title"
In the dateutil docs page, e.g. [rrule](http://dateutil.readthedocs.io/en/stable/rrule.html), when i hover over the tab on chrome, it says "dateutil unknown documentation". Should we change something to make it more informative?

[2018-04-16 01:53] rmahajan14 opened #685 "rrule documentation should explicitly say what "weekday constant" means"
At two places in the rrule documentation (http://dateutil.readthedocs.io/en/stable/rrule.html), we have:
"Must be one of the MO, TU, WE constants"
"one of the weekday constants (MO, TU, etc)"

Is it better to at least have one systematic reference to weekday constants - a table, maybe, towards the beginning of the documentation?

Monday(MO)
Tuesday(TU)
Wednesday(WE)
..

Its probably obvious, but n

[2018-04-16 01:57] rmahajan14 opened #686 "Ordering in the rrule documentation keywords explanation"
There is a difference in the order in which the arguments are listed in the function definition(at the beginning of the documentation), and the order in which they are explained. Specifically, cache is the last argument given when we are defining the function in the documentation, but is the first one to be explained.  (http://dateutil.readthedocs.io/en/stable/rrule.html). Another out-of-order key

[2018-04-16 02:02] pganssle commented on #684
What's supposed to go there is the version number.

I'm not entirely sure why the build is succeeding at all, but I suspect that the problem is either that ReadTheDocs is not installing the package, so [this](https://github.com/dateutil/dateutil/blob/master/docs/conf.py#L60) is failing to import correctly. That said, I would think that that would cause an actual build failure, so what I think is *

[2018-04-16 02:04] pganssle commented on #686
Yes these should have a consistent order. Good catch.

[2018-04-16 02:07] pganssle commented on #685
Yes this should be explained, possibly on a separate page. These are actually semi-shared between `rrule` and `relativedelta`. There are slight differences in the implementation, even though they have the same final level name. [rrule version](https://github.com/dateutil/dateutil/blob/master/dateutil/rrule.py#L66), [relativedelta version](https://github.com/dateutil/dateutil/blob/master/dateutil/r

[2018-04-16 07:41] absreim commented on #652
I've been looking at this issue over the past few days. From what I've read in the RFC, I see nothing the prohibits adjusting the time zone for an automatically generated DTSTART to match that of UNTIL when DTSTART is not explicitly specified.

I believe I have come up with a working change to the implementation, but am running into an interesting challenge when writing a test case. Ideally, the t

[2018-04-16 14:15] pganssle commented on #652
This is why we employ [freezegun](https://github.com/spulec/freezegun). [Example use here](https://github.com/dateutil/dateutil/blob/master/dateutil/test/test_utils.py#L18).

You can do something like this:
[code]

Use pytest style tests instead of the unittest style tests that most of the test suite uses. We're trying to transition over to pytest.

[2018-04-16 15:27] pganssle opened #687 "Parser error with unambiguous date in year 31"
I started converting [this test](https://github.com/dateutil/dateutil/blob/master/dateutil/test/test_parser.py#L33) over to a hypothesis-based property test and found the following failure:

[code]

Pretty low priority, but related to #293. Here's the full hypothesis test that generates these examples:

[code]

In the end we may also want to change `_get_ybd_formats` over to a strategy, because I

[2018-04-17 15:38] #625 closed

[2018-04-17 15:58] pganssle opened #691 "Add LRU cache to gettz and factories"
Now that #635 is resolved, `gettz`, `tzoffset` and `tzstr` satisfies the property that two `tzinfo` objects (`tz1` and `tz2`) constructed with identical arguments will always be the same object (`tz1` is `tz2`), but the cached objects expire whenever no instances of a given timezone exist outside of the cache. This satisfies the "timezone semantics" reasons for adding a cache and will have good pe

[2018-04-17 16:09] pganssle opened #692 "Add changelog to documentation"
We should probably have the changelog added to the documentation in the same way that `README` is included in the documentation. Very useful to have an easily-searchable record of when things changed.

[2018-04-17 16:10] pganssle commented on #684
I think I fixed this by changing a parameter in the `readthedocs` page.

It's working on the [the "latest" build](https://dateutil.readthedocs.io/en/latest/relativedelta.html).

[2018-04-18 06:05] absreim commented on #652
Thank you for the advice. I have created a working test using freezegun and pytest.

Before I submit a pull request, I want to point out that the error message given for the original example appears to be misleading.

In the original example, the time zone of UNTIL is actually specified in UTC.

`rule = rrule.rrulestr("RRULE:FREQ=WEEKLY;WKST=MO;BYDAY=MO,TU;UNTIL=20180331T200000Z")`

I believe the

[2018-04-18 15:35] rmahajan14 commented on #684
Which pull request is this change a part of?

[2018-04-18 15:48] pganssle commented on #684
It isn't a part of any pull request, it was a change to the settings of the website that hosts the documentation.

[2018-04-18 15:53] pganssle commented on #652
@absreim I am being deliberately lax with the RFC because having `UNTIL` be a fixed offset from UTC is functionally equivalent to being specified in UTC, and being pedantic could break existing uses out there.

I wouldn't let that block making a PR. We can always discuss this on the PR review, or discuss it separately.

I'm not sure if it's a better idea to keep the "prescriptive" wording of the e

[2018-04-18 16:01] pganssle commented on #684
Ah, actually I figured it out. If you [look here](https://github.com/dateutil/dateutil/blob/master/dateutil/__init__.py#L5), you'll see that `__version__` is always populated - it's populated with `'unknown'` if `setuptools_scm` has not done its magic, and it's populated with `._version.version` if `_version` exists.

Presumably what was happening before was that `readthedocs` was not running an i

[2018-04-18 17:51] rmahajan14 commented on #684
Oh wow. Got it!

[2018-04-18 17:55] rmahajan14 commented on #686
So, does this just involve changing the order in the code "http://dateutil.readthedocs.io/en/stable/_modules/dateutil/rrule.html#rrule" ?

So, can i just change the order and submit a PL, without running any tests explicitly from my end?

[2018-04-19 12:54] daniel878 commented on #687
Could this be related to:
https://bugs.python.org/issue13305 ?

[2018-04-19 12:55] chimeno commented on #687
Could this be related to: https://bugs.python.org/issue13305

[2018-04-19 13:51] pganssle commented on #686
@rmahajan14 For changes to the docs you should run `tox -e docs` on your end to ensure that the documentation builds correctly.

Not sure what you mean by "changing the order in the code", though. The order of the parameters needs to stay the same, because they are not keyword-only arguments. You'll want to change it in the docstring.

After that, go into `docs` and run `make html`, then you can v

[2018-04-19 14:13] pganssle commented on #687
@chimeno I don't think so:

[code]

Though likely that will cause problems with the implementation of the hypothesis tests as I wrote them.

That said, now that I think about it, is `%B.%Y.%d` a format that we really need to support / worry about? Are there real examples of Month-Year-Day datetimes? @jbrockmendel ?

[2018-04-19 18:00] pganssle opened #694 "Change link to PGP key server"
The pgp.mit.edu keyserver has been having a lot of 503 errors lately, which has been causing the `tox -e docs` builds to fail their dead links check.

It might be a good idea to switch that over to a new endpoint that is more stable, or add a mirror.

I'm also thinking that maybe the link error checker might need to be an "allowed-fail" on PRs. It's super useful in preventing linkrot, but it's cau

[2018-04-20 00:52] #661 closed

[2018-04-20 13:55] ParseThis commented on #670
I was looking around for a way to build the docs locally. Advice? I would clean up as many of these as possible but dont want to push and test.

[2018-04-20 13:58] pganssle commented on #670
`tox -e docs` will build the docs with all the tests. You can find the output in `.tox/docs_out`.

You can also enter the `docs` folder and type `make html`, then the output will be built in the `_build`.

I think I would prefer the inline syntax mentioned in my original post:

[code]

[2018-04-20 15:15] #694 closed

[2018-04-22 02:14] #686 closed

[2018-04-23 13:11] pganssle commented on #443
After seeing the results of a lot of the moves here, I am thinking this is not as good an idea as I had originally thought.

[2018-04-23 13:11] #443 closed

[2018-04-23 13:39] pganssle commented on #642
Oops, this is a duplicate of #76

[2018-04-23 13:39] #642 closed

[2018-04-23 13:48] pganssle opened #701 "Move zoneinfo data to a separate package"
Currently the `tz` database version is tied to the `dateutil` version, which mixes a lot of features and Python version support stuff in with the ability to get relevant time zone data. There is no reason for these to be coupled like this, though. The `zoneinfo` data should be a separate package.

I think we should start by making a new package that provides `zoneinfo` as an optional "use it if it

[2018-04-23 13:54] pganssle commented on #701
Another thought here is that right now the `zoneinfo` module is a bit weird because we always read the `tzfile` objects from a tarball, which actually has some consequences for the interface.

I think the reason for this is that we try to be agnostic as to whether this is a zip install or not, and we can't guarantee that there's an actual on-disk location, but we *can* use the `pkgutil` facilities

[2018-04-23 17:42] weatherpattern commented on #647
I know that @caseyclements claimed this issued, but I was playing around with it, and the docstring in the gettz method wouldn't show when I tried making the docs.
But I was able to make it appear in a new function I created in the tzutc() class, as seenin this branch is my fork [line 70](https://github.com/weatherpattern/dateutil/blob/WIP-gettz-documentation/dateutil/tz/tz.py).

Also, I don't und

[2018-04-23 17:54] pganssle opened #702 "Malformed RST directives in tz documentation"
I noticed that [`dateutil.tz.datetime_exists`](https://dateutil.readthedocs.io/en/stable/tz.html#dateutil.tz.datetime_exists) has `..versionadded:: 2.7.0` at the end of its docs, and [dateutil.tz.resolve_imaginary](https://dateutil.readthedocs.io/en/stable/tz.html#dateutil.tz.resolve_imaginary) has `..doctest::` and `..versionadded:: 2.7.0` in the actual generated documentation.

 I think it needs

[2018-04-23 18:04] pganssle commented on #647
`__get_gettz()` is structured the way it is because I don't want `GettzFunc` to be a public class, so I preferred to define it in a closure in a private function called once.

The problem seems to be with in the `automodule` directive of [`docs/tz.rst`](https://raw.githubusercontent.com/dateutil/dateutil/master/docs/tz.rst). I'm not sure why exactly, but it seems that `gettz` is not being consider

[2018-04-23 20:00] caseyclements commented on #647
Hey guys. I claimed this during a PyData Meetup sprint, and planned to finish it in my free time, but @weatherpattern, if you're finish it, that's great.

[2018-04-24 15:22] starrify opened #703 "[Feature Request] Adding the ability to disable automatic century detection"
Currently `dateutil` would try converting two-digit years, and [here](http://labix.org/python-dateutil/#head-19e5d3331806e55ec2ba1b9e39458784cc0a0004) is the corresponding section in the doc describing its behavior.

While it's generally helpful, there're still specific cases where it's a pain. E.g. a user may want all two-digit year values to be regarded as in the 1900s.

Currently it's possible

[2018-04-24 16:27] pganssle commented on #703
Subclassing `parserinfo` is the supported, official way to do this for the moment. I don't think that will change at any point in the future.

Anything that involves referencing a private module or attribute is incorrect.

I am explicitly attempting to move *away* from parameters passed to `parser.parse`, so that `parser.parse` can keep a nice simple interface, while its behavior is configurable i

[2018-04-24 16:27] #703 closed

[2018-04-24 16:45] pganssle opened #705 "Make all parser functions currently relative to "now" relative to "default""
Currently the sense of "default" is that missing values are filled in from there. I think that the sense should be changed to 'this is the "as-of" datetime, parse the date assuming it was parsed as-of this datetime'.

Currently this will introduce some annoying couplings in things like `convertyear`, which independently checks the current year for things like determining how to resolve 2-digit yea

[2018-04-24 17:59] #702 closed

[2018-04-24 23:50] #692 closed

[2018-04-25 02:03] pganssle commented on #670
Just noticed another minor typo that can be fixed at the same time. The `tzfile` documentation reads: "This is a tzinfo subclass **thant** allows one to". Obviously that needs `s/thant/that`

[2018-05-01 21:13] weatherpattern opened #708 "Add comments to GettzFunc"
GettzFunc is a complex class. Adding additional comments which explain the reasons behind the implementation will help first time contributors understand it more quickly. The comments are posted here for convenience and came from the [discussion](https://github.com/dateutil/dateutil/pull/704/files/7e6388418adb8826e7feb057a7d264722b9b3c9c..503b5e9331a4d800bb5875d02612b097c57d12de#diff-b81ed38839c07

[2018-05-01 21:33] vsquared10 opened #709 "Unexpected result for total months difference for dates < 1 year apart"
dateutil version: 2.6.1
python version: 3.6.3

[hack on SO](https://stackoverflow.com/questions/40305345/relativedelta-in-python-when-working-in-months) will do the trick, but this would be great to have integrated as a feature.

for example:

I have two dates: 2017-07-01 as `start_date` and 2018-08-01 as `end_date` equaling obviously 13 months.

executing `relativedelta(end_date,start_date)`, how

[2018-05-03 10:30] choosy commented on #355
To convert to seconds you need to multiply what you have by 100 ( or divide by 10 millions in the first place) since ldap timestamps area measured in intervals of 100 nanoseconds.

[code]

[2018-05-03 14:38] WhyNotHugo commented on #341
Isn't this fixed? Looks like this behaviour is covered by [this code](https://github.com/dateutil/dateutil/blob/master/dateutil/rrule.py#L455-L466), right?

[2018-05-03 14:48] pganssle commented on #341
@WhyNotHugo True that that code now throws an error on construction, but I'm not sure that that solves the problem, since these strings cannot be parsed. Generally I think this comes up when someone is emitting invalid RRULE strings, and the consumer of these strings probably needs an "out" that allows them to handle non-compliant strings.

[2018-05-07 16:04] #670 closed

[2018-05-07 17:12] pganssle commented on #701
This is fairly important functionality and I'd like it available in old versions of dateutil as well, so I have decided that the way forward here is to:

1. Release a `dateutil.tzdata` package that provides the `zoneinfo` files (we could also call this `zoneinfodata`).
2. Release a third package, `dateutil.future_compat` (I'm also open to name suggestions for this), which patches sufficiently old

[2018-05-07 17:28] #687 closed

[2018-05-08 11:42] mpszumowski opened #713 "Handle MM.YYYY format with parse function"
The parse function does not handle the minimal MM.YYYY format separated with a dot. The month is interpreted as day value and the year value is ignored. It does, however, parse MM-YYYY separated with an hyphen, thus I presume that it needs only a small fix.
[code]

[2018-05-08 12:09] pganssle commented on #713
I imagine this is because, for better or for worse, `10.6` and other fractional quantities are supported, and `MM.YYYY` is indistinguishable from `DD.FFFF` without context.

[2018-05-08 12:38] pganssle commented on #709
I think the problem with any of these `total` functions is that the whole reason for `relativedelta` is that these deltas do not represent a fixed period of time, so `total_months` is actually ambiguous. Even if you just look at the "plural" arguments, what should `relativedelta(years=1, months=2, days=7).total_months()` return? Should it be `14.25`? Should it be `14`? Or `14.4285`? The semantics

[2018-05-08 15:39] #647 closed

[2018-05-09 13:22] ryantuck opened #718 "Unexpected / inconsistent behavior - parse() accepts a string of an integer as input"
`parse()` accepts a string with an integer value, whereas i would expect it to throw an exception.

In addition, the behavior is not consistent - if the integer can be assigned as the day of month, it will be, and otherwise it will be assigned to the year, and default to the current month and day.

[code]

[2018-05-10 19:49] ryanpetrello commented on #462
@pganssle would this issue explain why dates beyond the 2038 year for certain timezones seem to have offset discrepancies?  e.g.,

[code]

[code]

[2018-05-11 09:30] jackiehff opened #719 "ModuleNotFoundError: No module named 'dateutil._common'"
when i execute 'import matplotlib.pyplot as plt', I got following error
[code]

[2018-05-11 23:11] mhsmith opened #720 "setup.py has both requires and install_requires, leading to invalid metadata"
Both the deprecated `requires` and the current `install_requires` are used:

https://github.com/dateutil/dateutil/blob/ad9807375b0f524cb9cef38abac70cacee693d36/setup.py#L65-L67

This results in the following lines in the wheel's METADATA file:

[code]

distlib rejects this file as having an inconsistent set of headers:

[code]

This didn't happen with previous versions of dateutil, because they co

[2018-05-12 19:45] pganssle commented on #462
@ryanpetrello Yes. `dateutil` reverts to STD, `pytz` holds the last value, and the correct thing to do is to create something like a fallback `tzstr` object from the 64-bit data.

[2018-05-12 19:47] pganssle commented on #720
@mhsmith Thanks for the report! I think you are right. The hard part of any PR on this would be writing a regression test for it, but I think we can probably just skip that.

[2018-05-12 19:52] pganssle commented on #719
I have no idea what could cause this. It seems like some sort of version inconsistency, but the only thing calling `dateutil._common` would be `dateutil` itself, so the only way I can imagine this occuring is if you installed *half* of `dateutil`.

@jackiehff Can you try `pip install -U python-dateutil` or `pip uninstall python-dateutil` followed by `pip install python-dateutil` and see if this fi

[2018-05-12 23:51] mhsmith commented on #720
The current version of the metadata specification is at https://packaging.python.org/specifications/core-metadata/.

The only plausible regression test I can think of is to perform an install of the dateutil wheel with whatever you consider to be the minimum reasonable version of pip (or other packaging tool), and check that it still installs six even with that line removed.

[2018-05-14 05:32] jackiehff commented on #719
@pganssle It seems like my upgrade operation hasn't finished correctly，then I use "sudo pip install -U python-dateutil" command and it worked! Really appreciate for your help!

[2018-05-14 05:32] #719 closed

[2018-05-21 01:49] pganssle opened #724 "Tests failing on Python 3.3"
The tests seem to be failing on Python 3.3 due to a wheel incompatibility.

My best guess for what is happening is that `wheel` dropped support for Python 3.3 and something in the testing pipeline (only seems to be happening on Travis as far as I can tell) is using an old version of `pip`.

My suspicion is that Travis has some code that creates a `virtualenv`, and it does so with an un-upgraded ve

[2018-05-21 20:27] pganssle commented on #724
It seems this is a tox-specific problem. I have a MWE repo [here](https://github.com/pganssle/travis-test) with a failing Travis run [here](https://travis-ci.org/pganssle/travis-test). I think it's the part where `tox` creates the virtualenv that needs to have `wheel` pinned.

[2018-05-24 00:01] absreim commented on #523
I've looked through RFC 5545 and could not find any comments either way as to how invalid values should be handled.

The most relevant statements in the RFC in section 3.3.10 describe "valid" ranges for various byxxx rule parts, but does not go into detail about how invalid values should be handled. There is also a somewhat relevant paragraph in 3.3.10 noting that invalid dates or times generated

[2018-05-24 19:46] pganssle commented on #523
To start with we can switch it over to using the fast path, since that one is not a behavior change.

Maybe we can add a public method `validate_rule()` that fires as part of the constructor to validate the rule and throw an exception at construction-time if it's invalid. Downstream users can subclass and override that method if they want the old behavior.

[2018-05-24 19:46] pganssle commented on #523
I should note that those are two separate PRs. The first one could go into a bugfix release, the second one is pretty clearly a feature release.

[2018-05-29 22:00] jbrockmendel opened #733 "Newline and lots-of-whitespace treatment"
[code]

I'm not quite sure what the ideal behavior is here, but the newline treatment looks sketchy.  ATM the `_tokenizer.split` converts all whitespace characters to spaces (note that particular behavior is changed in #732 as a side-effect)

[2018-05-30 13:10] pganssle opened #734 "Add readme_renderer check to docs test"
Right now we don't do any automated testing that the README will be rendered correctly on PyPI. PyPI's long description renderer is very finicky and if there are any mistakes, it will fail to render *at all* and just be a bunch of ugly markup.

I think we can test this in the test suite by adding a [`readme_renderer`](https://pypi.org/project/readme_renderer/) check to the `docs` build for `tox`.

[2018-06-04 17:02] pganssle opened #736 "Add setup_requires to pyproject.toml"
As part of [PEP 518](https://www.python.org/dev/peps/pep-0518/), build dependencies should now go into `pyproject.toml`. I think that only `pip>=10.0` supports this feature at the moment, so I don't think we can remove `setup_requires` entirely, but the two do not conflict, because `pip` will install all the setup requirements *before* invoking `setup.py`, which will thus find all its setup requir

[2018-06-07 14:08] pganssle commented on #402
@tino See the rest of this discussion for why the answer to that is no.

[2018-06-07 14:38] #452 closed

[2018-06-07 22:50] alimcmaster1 commented on #734
Hey thanks for the clear description,

Do we want to add "tox -e docs" to the travis and appveyor yml files, or do we not want this to run as part of CI?

[2018-06-08 07:03] #663 closed

[2018-06-08 07:14] pganssle commented on #520
For sprinters: The first item on the list is figuring out if this is actually done from the [codecov](https://codecov.io/gh/pganssle/dateutil). If it is we can close this issue.

[2018-06-08 07:17] #684 closed

[2018-06-08 07:26] pganssle opened #744 "Fix parser link in documentation exercises"
In the [documentation exercises](https://dateutil.readthedocs.io/en/latest/exercises/index.html#parsing-a-local-tzname), there is a link to "`dateutil.parse`" which should instead read "`dateutil.parser`". The link should be to `../parser.html` rather than `../parse.html`.

[2018-06-08 07:30] pganssle commented on #79
Closing this in favor of #701

[2018-06-08 08:42] rs2 commented on #124
I'd like to work on it during the sprints.

[2018-06-08 08:46] Cheukting commented on #658
May I try this one?

[2018-06-08 09:05] anthrotype commented on #520
it looks like the coverage reports _are_ being uploaded to codecov.io successfully.

See appveyor's log on the latest build from master (this is just py27, but the others are the same):
https://ci.appveyor.com/project/dateutil/dateutil/build/2.3.1406/job/otf53sc4o06a8tu4#L730

And in the codecov Uploads log page, the Appveyor builds seems to be all listed:
https://codecov.io/gh/dateutil/dateutil/c

[2018-06-08 09:07] anthrotype commented on #736
I can do this

[2018-06-08 09:08] cssherry commented on #720
I can take

[2018-06-08 09:19] pganssle commented on #520
Thanks @anthrotype!

[2018-06-08 09:19] #520 closed

[2018-06-08 10:43] gaborbernat commented on #383
I think this would use the newly added https://github.com/python/mypy/issues/5028 - this would allow both typeshed and dateutil to benefit from things.

[2018-06-08 11:17] gokcennurlu commented on #691
I'd like to work on this.

[2018-06-08 11:31] #734 closed

[2018-06-08 11:33] cssherry commented on #582
I'm looking into this -- going with method 2 as suggested in original comment

[2018-06-08 11:35] prdickson commented on #623
I can look at this...

[2018-06-08 11:42] #744 closed

[2018-06-08 11:49] daplantagenet commented on #677
I can look at this.

[2018-06-08 11:52] #658 closed

[2018-06-08 11:55] anthrotype commented on #383
FYI I'm trying to run [monkeytype](https://github.com/Instagram/MonkeyType) on dateutils, just for fun.
I must stay I've never used typing annotation myself yet, but I'm eager to learn, especially after reading @gaborbernat's nice write up on https://www.bernat.tech/the-state-of-type-hints-in-python/

[2018-06-08 14:42] ericvw opened #756 "Add 'sys.prefix/share/zoneinfo' to the beginning of tz/tz.TZPATH"
To support non-system prefix installation tree of software (e.g., `$HOME/.local`), it would be great if the search for the `zoneinfo` directory to be consulted first by the prefix where `sys.executable` first, followed by the remaining system default locations.

I don't see any tests related to the `TZPATH`.  Any recommendations for providing one?  Or are you comfortable with a patch to update the

[2018-06-08 16:01] pganssle commented on #756
This is related to #613, which makes some build-time modifications to the TZPATH. I am also interested in exposing `TZPATH` more directly to users (a la `sys.path`), but I am not entirely sure what the interface for that should be.

I think I'm OK with something like:

[code]

But I'd like some sort of reading material for how standard this is (which can be inserted as a comment to explain WTF we

[2018-06-08 16:17] ericvw commented on #756
How about:

[code]

?

[2018-06-08 16:29] pganssle commented on #756
I don't understand that well enough to really comment as to why and who uses that. If this is almost entirely something that is done by people who repackage or are likely to repackage `dateutil` (such as Linux distros or corporate systems), then I'd rather solve it with #613 rather than inject an additional path that may or may not be the right thing to do.

Also, `sys.prefix` for my system is sho

[2018-06-08 17:01] ericvw commented on #756
Injecting `sys.prefix` probably makes more sense because at build time since you want to bake-in the installation prefix where the interpreter is installed.

In the compilation world of autotools, `./configure --prefix` is how this is done (see https://www.gnu.org/software/autoconf/manual/autoconf-2.66/html_node/Default-Prefix.html).

[2018-06-08 20:48] alimcmaster1 commented on #668
I'm interested in having a look into this, will revert back on here with a first cut

[2018-06-10 10:39] Zac-HD commented on #383
We've been looking at this for a while in HypothesisWorks/hypothesis#200.  The short version is that comments are currently the best way to distribute type hints to users (see PEP561), because annotations don't work on Python 2 and stubs are difficult to keep in sync with the implementation code (WIP, but a long way from stable).

All you need to do is gate the typing (or circular) imports behind

[2018-06-12 01:17] jpurviance commented on #383
Is the addition of type hinting to dateutil strictly for the use of those that want to run a static type checker (like `mypy` or facebook's `pyre` project) against the package? That's great for those who would like to use the project. If annotations are being added to the project, it might make sense to annotate more than the public methods and functions. `Mypy` can tell us a lot about the way the

[2018-06-12 02:06] jpurviance commented on #383
See my first pass at annotations for `utils.py`: https://github.com/dateutil/dateutil/pull/768
It's always best to start adding annotations to modules that depend on very little and are depended on by many others.

[2018-06-13 11:42] hugovk commented on #724
By the way, to get some idea of usage, here's the pip installs for python-dateutil from PyPI for May 2018:

| python_version | percent | download_count |
| -------------- | ------: | -------------: |
| 2.7            |  76.50% |      9,055,420 |
| 3.6            |  15.65% |      1,853,163 |
| 3.5            |   4.40% |        520,941 |
| 3.4            |   2.62% |        309,889 |
| 2.6

[2018-06-14 15:11] sebma opened #770 "AttributeError: module 'dateutil' has no attribute 'tz'"
Hi,

I'm working on Ubuntu 17.10, and I'm using `dateutil` v`2.7.3` :

[code]
Can you please help me ?

[2018-06-14 17:13] sebma commented on #770
But if I do this, it works :

[code]

[2018-06-18 17:52] pganssle opened #771 "Lazy-load dateutil submodules?"
It is a fairly common problem (see, e.g. issue #770) that people assume that `import dateutil` will automatically import all of `dateutil`'s sub-modules. Currently we don't do this because we want to be as lazy as possible about imports.

We'll need to profile it, but I think there is a "best of both worlds" option here, where in `dateutil.__init__` we define lazy-loaded modules, so that the first

[2018-06-18 17:53] pganssle commented on #770
@sebma Yes. This is because `dateutil` currently is essentially a namespace package for the various sub-modules. The reason for this is that each of the sub-modules should be imported lazily as needed. if you only need `dateutil.tz`, you don't necessarily want to have to import `relativedelta` and `parser` as well.

For a while I've been considering a more seamless lazy-load experience that works

[2018-06-18 17:53] #770 closed

[2018-06-18 23:21] #582 closed

[2018-06-20 15:06] #426 closed

[2018-06-20 15:39] pganssle opened #775 "Add variant or modify the MLK Day documentation exercise"
Currently the [MLK Day documentation exercise](https://dateutil.readthedocs.io/en/latest/exercises/index.html#martin-luther-king-day) can be solved using the following RRULE:

(Hidden for those who don't want to see the issue)
<details>
[code]
</details>

This takes advantage of the fact that a `YEARLY` rule will just add 1 year to the original DTSTART before applying the `by` rules. This is a val

[2018-06-20 15:41] #623 closed

[2018-06-20 15:58] pganssle opened #776 "bytes/str conversion lines not hit in test_isoparser"
I've noticed that in the [coverage for `test_isoparser`](https://codecov.io/gh/dateutil/dateutil/src/572e358279fb0d90862e2f5fd8d55300a9670fcf/dateutil/test/test_isoparser.py), lines [375](https://github.com/dateutil/dateutil/blob/a41c4c6b498189b1c456e2d8e7a21a308974bc89/dateutil/test/test_isoparser.py#L375), [447](https://github.com/dateutil/dateutil/blob/a41c4c6b498189b1c456e2d8e7a21a308974bc89/d

[2018-06-20 23:03] jgoodleaf opened #777 "Offset Error on parser.parse()"
Perhaps I've misunderstood something, but the following snippet seems to get the timezone offset's sign backward:
[code]
dateutil = v2.7.3

Is this a bug, or am I doing something stupid?

[2018-06-21 13:30] pganssle opened #778 "Add installation documentation prominently"
As brought up in the PyLondinium sprint, the README / documentation does not prominently explain how to install `dateutil`. This is particularly important because the PyPI package is actually called `python-dateutil`, which is in violation of the standard convention!

I think we should put "installation" instructions above "Download" in [README.rst](https://github.com/dateutil/dateutil/blob/master

[2018-06-21 14:05] pganssle commented on #718
Generally speaking with the `parser` the contract is that you are passing something that *does* represent a datetime, and we're giving you our best guess as to how to interpret it (with minimal context). Do not use `dateutil.parser.parse` to validate whether or not something *does* represent a `datetime`, as that question requires a lot more context than we can really give it.

For example, what i

[2018-06-21 14:05] #718 closed

[2018-06-21 14:33] jgoodleaf commented on #777
@pganssle , thanks, I'll look at that reference. The malformed datetime string is generated for me; I have to work with what's given, which was possible with `strptime` and the correct format string. It's a habit to use `dateutil` because it usually handles messy data!

[2018-06-23 13:26] thenewguy opened #781 "12:00 Noon"
The parser doesn't handle 12:00 Noon

[2018-06-26 05:12] Satyabrat35 commented on #778
Is this issue still open?
I would like to work on it.

[2018-06-26 09:29] joncasdam commented on #370
I would say this is still going on.

[code]
can you see the 3 hours jump?

so I think it's not only related to BST. maybe something in the correlation of UTC timetable and the other timetable (GMT, BST, CET, CEST and so on)

[2018-06-26 10:02] kirit93 commented on #771
@pganssle have you considered using [lazy_import](https://github.com/mnmelo/lazy_import) for this?
I added
[code]

tzfile('/etc/localtime')

[code]

[2018-06-26 10:53] pganssle commented on #771
I'm not willing to add any new dependencies. It shouldn't be too difficult to implement, though.

[2018-06-26 10:56] pganssle commented on #771
Looks like lazy_import is GPL, so it's also an incompatible license.  Our implementation should be a "clean room" implementation not based on theirs.

[2018-06-29 13:19] pganssle commented on #370
@joncasdam I am fairly certain that is a different issue. `UTC+1` is the same thing as `-01:00` because it seems to be a POSIX-style datetime, so it's not surprising that converting from `-01:00` to `+02:00` would be 3 hours different.

As an aside, [I would recommend against using pytz](https://blog.ganssle.io/articles/2018/03/pytz-fastest-footgun.html).

[2018-07-02 14:47] pganssle commented on #778
Closed by #783.

[2018-07-02 14:47] #778 closed

[2018-07-02 16:15] #617 closed

[2018-07-02 21:12] jayschwa opened #786 "Accept more than 6 digits for fractional seconds in isoparse"
Currently, `isoparse` raises an exception if there are more than 6 digits in the fractional second.

[code]

Go, for example, includes up to 9 digits (nanosecond precision) when marshaling a time into JSON. It would be nice if `isoparse` could accept those without issue, even if precision gets truncated a bit.

[2018-07-03 04:10] jbrockmendel commented on #786
This would be nice, though I'm a bit wary of the truncating idea.  Until it gets implemented here (PRs welcome BTW), you might want to just use `pandas.Timestamp` since it retains nanoseconds.

[2018-07-03 15:44] jayschwa commented on #786
I am willing to take a shot at implementing it. I propose that `isoparse` truncate by default, with an optional argument to raise some kind of `PrecisionError` instead. Truncation would not be unprecedented since `dateutil.parser.parse` already does so on the same input that fails with `isoparse`.

[2018-07-03 16:17] pganssle commented on #786
I agree with this. The ISO 8601 spec does not specify the precision of fractional components (this is left to "mutual agreement"). My design principle is that we will be liberal about anything not explicitly forbidden by the spec.

I don't think there's any way to do better than truncation while still returning standard datetimes.

Let's start with expanding the tests to cover up to 12 digits (sho

[2018-07-04 16:43] #786 closed

[2018-07-06 15:19] pganssle opened #788 "Add JSON serializer/deserializer"
One pretty common pain point is that the JSON spec can't serialize or deserialize datetimes. I suggest that we can add a `dateutil.json` submodule that would provide a common JSON serializer/deserializer plugin for the `json` module.

The main issues with this are:

1. How to specify how datetimes are stored - there are a few obvious ways to do this and it really depends on your use case. How can

[2018-07-06 15:20] pganssle commented on #788
It might be worth it to start this off as a separate module and adopt it here after we work out some of the kinks.

[2018-07-08 03:08] jeinarsson commented on #275
Hi, I also just ran into this issue. I work around by combining any `date` with a `time(0,0)` as per pganssle's recommendation. With that I successfully parse a number of real world calendars (Google and Fastmail).

When debugging I realized that iterating over a rrule always returns `datetime`, even if the DTSTART and all other ingredients are `date`. Intuitively I expected those to return `date`

[2018-07-22 00:18] jirawat07 opened #789 "seem to get a incorrect result when do a subtraction"
Hi,
I do a subtraction and get an incorrect result searching google found nothing. please see detail below.
code is
print parser.parse('22/08/2018 07:00:50',dayfirst=True)-parser.parse('22/08/2018 06:00',dayfirst=True)
print parser.parse('22/08/2018 06:00',dayfirst=True)-parser.parse('22/08/2018 07:00:59',dayfirst=True)
result is
1:00:50
-1 day, 22:59:01
expected
1:00:50
-1:00:59
is this correct o

[2018-07-23 03:13] bspeice commented on #789
Don't think this has anything to do with `dateutil` specifically, that's a question for how Python formats `timedelta` objects. Specifically, you can replicate the second scenario as follows:

[code]

They both print `-1 day, 22:59:01`

[2018-07-23 04:51] JonasT opened #790 "dateutil.tz.tzlocal() has no localize attribute"
I was under the impression that `dateutil.tz.tzlocal()` is supposed to behave like any regular pytz time zone, e.g. `pytz.utc`- but the pytz time zone objects have a `localize` function to apply to naive datetime objects, and `dateutil.tz.tzlocal()` doesn't. Is this a bug or am I missing something?

[2018-07-23 14:18] pganssle commented on #789
@bspeice Is correct. `dateutil.parser` produces a `datetime.datetime` and is doing so correctly in this case.

The issue you are seeing is that the formatting of negative `timedelta` objects is horribly confusing.

[2018-07-23 14:18] #789 closed

[2018-07-23 14:51] JonasT commented on #790
A lot of internet examples combine pytz and dateutil. Also, if dateutil doesn't *need* localize, why not offer it anyway for compatibility and make it do exactly what yo usaid? Would make it easier for people to transition over

[2018-07-23 14:58] pganssle commented on #790
@JonasT `pytz`'s `localize` does something different and something that is *not* supported by `dateutil`. If you read my link you will see why using `pytz` at all is probably a mistake.

If people want to support both `pytz` and `dateutil.tz`, they can use:

[code]

Though frankly I think it's usually unnecessary to actively support `pytz` in this way.

[2018-07-23 15:36] pganssle commented on #790
That's because it doesn't.  They do two different things, and `pytz` also has a `normalize` method that is unnecessary in `dateutil`. The function I wrote just *looks* like it does the same thing, but all it does is create an aware datetime. I'm not interested in supporting `pytz`'s non-standard API, nor making internet examples that  "just work" with `pytz` work with `dateutil`.

One thing to not

[2018-07-23 17:03] JonasT commented on #790
Right. I understand your position and you make very valid points. But the truth is, none of this is very relevant for newcomers who just want proper time-zone aware objects, and adding similar functions would just make jumping in easier.

But I completely understand saying "I don't want to clutter up the API with a nonsense function just to lower the entry barrier a little" :smile: I'm a bit biase

[2018-07-24 18:16] mroeschke opened #792 "Allow tzoffset to be hashable"
Motivation: I am trying to store tzoffsets in a `set`, and this is not possible in dateutil 2.7.3 since `__hash__ = None` for tzoffsets. This came up while working on: https://github.com/pandas-dev/pandas/pull/21822

It appears that #296 marked `relativedelta`, `tzoffset` and `weekday` as unhashable, and #389 defined hashing for  `relativedelta` and `weekday`. I'd be great if hashing was defined f

[2018-07-25 08:53] alexbodn opened #793 "isoparser doesn't parse time: '09:55:00.22'"
hello friends,

thanks a lot for dateutil parsers.
however, i found an issue:
isoparser doesn't parse time: '09:55:00.22'.
hope that would help with improving dateutil.

best regards,
alex

[2018-07-25 09:44] pganssle commented on #793
If you want a `datetime.time`, you can use `dateutil.parser.isoparser().parse_isotime`, but `isoparse` is intended for parsing `datetime`, where (for the most part), components can only be truncated off, so a bare time would not be considered a valid ISO8601 datetime.

`dateutil.parser.parse` will work, though, as will `datetime.strptime(dtstr, "%H:%M:%S.f")`.

[2018-08-01 13:32] #793 closed

[2018-08-01 13:35] pganssle commented on #792
I see no reason why these shouldn't be hashable.

[2018-08-01 19:55] pganssle commented on #792
I am now fairly convinced that we cannot (yet) implement `__hash__` on `tzoffset` or `tzutc`. The reason is that they define `__eq__` and [two objects must have the same hash if they are equal](https://docs.python.org/3/reference/datamodel.html#object.__hash__):

This is a problem because python [uses `is` instead of `__eq__`](https://blog.ganssle.io/articles/2018/02/a-curious-case-datetimes.html)

[2018-08-09 08:29] xmo-odoo opened #796 "Parser doesn't like dates without separator with 4-digits years"
I was looking at the various "fuzzy" parsers for dates, and dateutil.parser raises when parsing ddmmyyyy or mmddyyyy.

It also does not deal well with times above 48h, or seconds-only timestamps, but no parser handles these correctly.

Here's the full testcase table, the first two columns are the "kind" of pattern and the actual test date(time), the others are various parsers in their default conf

[2018-08-09 12:26] wagner-certat commented on #796
Probably because it's ambiguous? Look at the result of dateparser in both cases.

?

[2018-08-09 12:57] xmo-odoo commented on #796
No, there are plenty of ambiguous datestamps which it's completely fine with, ddmmyy for instance.

I meant 24 (though that's a guess): it's fine with `18:55:30` but not `48:55:30`.

[2018-08-09 13:27] pganssle commented on #796
I think the only mildly surprising thing in this list is `mmddyyyy`, which I think is a very uncommon way of expressing a datetime. I vaguely recall discussing this on another issue at some point, but I don't recall the resolution. It seems unlikely that fixing it will cause any problems in the common case, since most datetimes will be within +/- 100 years of today, and that will unambiguously sel

[2018-08-09 13:36] xmo-odoo commented on #796
That's not wrong, but on the other hand dateutil.parse seems to always yield datetimes so parsing a time is more of a delta on the current date, and timedelta is fine with deltas of more than 24h.

[2018-08-10 11:16] DiegoF90 opened #797 "parser can't handle %d%b%Y format"
Hello, maybe there is no intention to support this format., but I am getting the following:

[code]

Thanks,
D

datetutil 2.6.0
Python 3.6.1 :: Anaconda 4.4.0 (64-bit)

[2018-08-10 14:05] jbrockmendel commented on #797
This is fixed in 2.7.  Closing.

[2018-08-10 14:05] #797 closed

[2018-08-14 13:56] pganssle opened #800 "tz.gettz broken when time zone not found"
When we switched over to using weak references for caching (see #635), we didn't take into account the fact that occasionally `tz.gettz` returns `None` (when no `tzinfo` object is found). Since you cannot have a weak reference to `None`, when we try to populate the weak cache, it raises an error.

This can be reproduced with:

[code]

The result:

This is causing failures in pandas' test suite: ht

[2018-08-14 14:52] pganssle opened #802 "tz.gettz broken when passed non-ASCII string on Windows for Python 2.7"
Related to #800, running this on Windows with Python 2.7:

[code]

Raises an error:

[code]

Even if `tz.tzwin` doesn't support unicode names, `tz.gettz` should not be raising an error in this situation.

[2018-08-14 17:32] #800 closed

[2018-08-15 14:14] ignatenkobrain opened #803 "dateutil can't parse "2018-08-14 08:41:31.181 1288 ERROR""
[code]

[2018-08-15 14:43] jbrockmendel commented on #803
What is the "1288" supposed to be?

[2018-08-15 16:07] ignatenkobrain commented on #803
@jbrockmendel sorry for not including this information. It's pid of process =)

[2018-08-15 16:25] jbrockmendel commented on #803
Got it, thanks.  Short term your best best is to strip off the PID and the "ERROR".  Medium-term I'll take a look at fixing this.  PRs welcome.

[2018-08-15 21:52] mzpqnxow opened #804 "feature request: FILETIME support and milisecond epoch time support"
Hello,

First, thanks for `dateutil`, it is by far the best package I've ever used for parsing dates "the right way" without doing much thinking. I often deal with large datasets from third party APIs who take liberties with standard formats, and it is terrific for saving me time.

With that said, it would be great if `dateutil` could recognize and `parse` Microsoft FILETIME format, which are most

[2018-08-17 12:02] wagner-certat commented on #804
see also #355

[2018-08-17 13:55] mzpqnxow commented on #804
Exact dup. My mistake, I searched and did not see it.

On Fri, Aug 17, 2018 at 08:02 Wagner <notifications@github.com> wrote:

[2018-08-17 14:01] wagner-certat commented on #804
I also didn't know if the name of the time format is correct or what it is actually.

[2018-08-20 10:00] ericlingit opened #805 "Can't parse "Tue, 27 Mar 2018 23:48:52 +0800 (GMT+08:00)""
### Version
Python 3.6.5
python-dateutil (2.7.3)

### How to reproduce
[code]
### Expected output
[code]

### Actual output
[code]

This date format with redundant tz info is found in emails sent by Coremail Webmail Server, a Chinese webmail provider.

[2018-08-22 16:41] jonocodes opened #806 "UNTIL time does not unclude Z (Zulu) ending"
I'm using python dateutils 2.7.3 and having a problem with an rrule UNTIL date.

The __str__() method specifically omits the timezone: https://github.com/dateutil/dateutil/blob/2.7.3/dateutil/rrule.py#L717

Which outputs a string like: "RRULE:FREQ=DAILY;UNTIL=20180827T170000"

instead of: "RRULE:FREQ=DAILY;UNTIL=20180827T170000Z"

RFC5545 says UTC is required, which makes me think rrule.__str__()

[2018-08-23 10:36] freenetwork opened #807 "rrule.js vs dateutil.rrule"
[code]

MY EVENT:
user in +07:00
event from 6.30 in TU
i save in utc, but day it same

MY RRULE: "FREQ=WEEKLY;BYDAY=TU;INTERVAL=1;DTSTART=20171106T234500Z;UNTIL=20221106T234500Z"

MY BEETWEN: from 2018-08-27 00:00:00.000+07:00 to 2018-08-20 00:00:00.000+07:00

[code]
on rrule.js i get
[ 2018-08-20T23:45:00.000Z ]

[code]
on dateutil.rrule i get
[datetime.datetime(2018, 8, 21, 23, 45, tzinfo=tzutc(

[2018-08-23 10:44] freenetwork commented on #807
![1](https://user-images.githubusercontent.com/3347236/44521095-1b9c5600-a6fc-11e8-850d-3b26428a11a0.png)
This nodejs backend

![2](https://user-images.githubusercontent.com/3347236/44521104-2656eb00-a6fc-11e8-8a10-88a401e3e5ec.png)
This is python backend

[2018-08-23 11:48] pganssle commented on #807
I'm not sure I understand why these are different, but I *think* `dateutil` is correct here. August 21 is a Tuesday, so I'm not sure why Javascript would return a Monday. Am I missing something?

Also, you really shouldn't save local times as UTC.

[2018-08-24 05:15] freenetwork commented on #807
[code]

[code]

I can need result

[2018-08-24 05:15] #807 closed

[2018-08-29 03:36] yuetingqian opened #808 "min day when add is unreasonable"
https://github.com/dateutil/dateutil/blob/a5d860d370a8486fdbcd338c244dc5f583beba5f/dateutil/relativedelta.py#L377~L378

testcase as follower:
[code]
both output
[code]

I think it's not unreasonable to return the same date when different start_date add the same months.

It should be like this
[code]

[2018-08-30 22:54] jason-s opened #809 "Error with non-ASCII timezone names"
https://github.com/dateutil/dateutil/blob/master/dateutil/tz/_common.py#L22

[code]

The `encode` method will fail with non-ASCII timezone names.

[2018-08-30 23:17] jason-s commented on #809
I have debugged this on a colleague's computer and the `name` string that causes this problem is '\xc3\xc0\xb9\xfa\xc9\xbd\xb5\xd8\xb1\xea\xd7\xbc\xca\xb1\xbc\xe4'

[2018-08-30 23:59] jason-s commented on #809
OK, this is apparently the `gbk` codec:

[code]

which prints as 美国山地标准时间 (Google Translate says it's American Mountain Standard Time)

[2018-08-31 01:00] qpkorr commented on #268
+1 for seeing the attempted bugfix as a breaking change.  In Australia, our standard formats would be either DDMMYYYY or YYYYMMDD (ISO format) - and dateutil used to read those both correctly with dayfirst set to true and yearfirst not explicitly set.  According to the table in issue #238, there's now no way to configure this behaviour.  We're trying to move from debian jessie to stretch - I guess

[2018-08-31 16:52] pganssle commented on #809
I'm fairly certain this is at least related to #416.

One issue here is that this is not actually a bug in `dateutil`, this is the result of a misconfigured locale or something. The *correct* solution here is to stop using Python 2, because Python 3 has *much* better defaults than Python 2 - which is why this is not an issue.

As far as I understand, the problem is that the way to fix this is to m

[2018-08-31 16:55] pganssle commented on #809
I would accept a PR for this, but keep in mind that the difficult part of any PR of this sort will be writing a test that can reproduce the locale issues with minimal overhead, preferably in a context manager. Since this locale stuff is always a total pain for me to test locally, any PR without proper tests would probably not be accepted.

[2018-09-01 17:16] jbrockmendel commented on #809
@jason-s you might want to look at `pandas.util.testing.set_locale` for this

[2018-09-02 17:30] pganssle commented on #808
@yuetingqian This is working as intended. Months are not a fixed number of days, so saying "six months from X" is ambiguous. There are four reasonable behaviors for what happens when you attempt to advance a datetime by a certain number of months and land on a non-existent datetime (e.g. February 31st):

1. Fall back to the most recent valid day (February 28/29)
2. Fall forward to the *next* valid

[2018-09-02 17:30] #808 closed

[2018-09-02 18:28] pganssle opened #812 "utcoffset/tzname incorrect immediately before Samoan offset change"
First reported by @MartinThoma in [this SO question](https://stackoverflow.com/questions/52136980), it seems that there is a bug in the way `tzfile` handles the local transition times during a base offset change:

[code]

Note that while `fromutc` sets the local datetime correctly, `utcoffset` returns `+14:00` an hour early! This is because the assumption in the code is that these base offset shif

[2018-09-02 18:56] #812 closed

[2018-09-02 20:56] MartinThoma commented on #812
Thank you for mentioning me :-) It's awesome to see that this indirectly reported bug is not only seen, but also almost immediately fixed!

[2018-09-03 07:59] yuetingqian commented on #808
ok thank you

[2018-09-10 14:57] reagle opened #815 "Did the weekday type change? I can't hash or compare"
In a python2.7 script, I have a function that, given today, returns the last day class met. I haven't used the script in about 5 months. When I went to do so today, the code failed. The interpreter says type 'weekday' is not hashable and I cannot compare if `TU <= FR`. Did something change in the last few months?

[code]

[2018-09-13 16:50] pganssle commented on #815
I don't think that script is sufficient to actually run the program, but `weekday` objects are not comparable and I don't think they ever were intended to be. It is likely a quirk of Python 2 that allowed this script to "work" at all in the sense that the comparison operators were not explicitly defined and I think in Python 2 comparison falls back to object id, which is not the semantics you want

[2018-09-13 16:51] #815 closed

[2018-09-13 17:00] pganssle commented on #806
Sorry I've let this languish so long. I am not entirely sure what the right thing to do is here. I suppose we should check the standard.

One problem with using the standard is that `RRULE` often doesn't exist by itself, and the value can be modified by attributes *outside* the `RRULE`.

[2018-09-13 17:03] reagle commented on #815
@pganssle, thank you for the thorough answer. I think what changed in the last five months is python3 became the default on my system and it triggered a few bugs in this old script. I've moved everything else to python3, so knowing this was never supported behavior will help the migration.

I was also surprised to see the star imports, which I no longer do, but I see I probably picked them up from

[2018-09-13 17:05] pganssle commented on #815
Ah yes, they are distressingly common in the documentation (and in documentation in general). It's very convenient to use star imports in docs because it makes the examples much shorter, but I fear it does set a bad example.

[2018-09-13 18:54] reagle commented on #815
I haven't looked at these libraries in a long time, so I hope you don't mind if I ask for a hint. `get_previous_class()` was actually called by `get_previous_class_date()` where I took advantage of the fact that these seemed to be ordinal types and I could also use them within datetime calculations.

[code]

I'm sure there are other bugs in the py2 to py3, but I'm wondering how to best approach th

[2018-09-13 20:45] pganssle commented on #815
@reagle

A few things:

[code]

The `today` is unnecessary. `datetime.today` is an alternate constructor for `datetime` that returns the same thing as `now`.

Also:

[code]

I'm guessing you want a mapping between the integer values you just defined and the `relativedelta` components, but what you've actually done is mapped the integers 0-7 to themselves.

I think you want some thing more like thi

[2018-09-20 19:01] cjgibson commented on #531
Didn't want to open a new issue, but commenting here to note another _potential_ oddity:

[code]

I personally hadn't observed a lowercase "Z" before, but from what I can tell, the standard allows for it. (At least, going off of this RFC: https://tools.ietf.org/html/rfc3339#section-5.6)

[2018-09-20 20:40] pganssle commented on #531
@cjgibson Can you make a separate issue? I prefer to have separate issues so tickets can be assigned individually and be closed as they are addressed.

[2018-09-20 21:28] cjgibson commented on #531
@pganssle - Can do.

[2018-09-20 21:43] cjgibson opened #820 "Parser only partially accounts for case-insensitive nature of ISO8601 datestamps"
[code]

It looks like this library properly supports both the use of `t` and `T` as legal time separators for ISO8601 datestamps, but only supports the uppercased shorthand for UTC (`Z`), and not `z`. From what I can find online (namely, this RFC: https://tools.ietf.org/html/rfc3339#section-5.6), it seems like the latter is also legal syntax.

[2018-09-21 13:07] pganssle commented on #820
If true that the ISO 8601 format allows for `z`, then we should at the very least update `dateutil.parser.isoparse`.

I don't know if we need to or want to add support for this in `dateutil.parser.parse`. The obvious way to do so would be to change `parserinfo.UTCZONE` to include `'z'`, but I suspect a lower-case z is more often there for some reason *other* than because the datetime is supposed t

[2018-09-22 19:16] bsolomon1124 opened #821 "dateutil isoparser in Go - interest in adding to organization page?"
Hello @pganssle.  I recently ported the code and and corresponding tests from `isoparser.py` to [Go](https://golang.org/), partly as my own means to better learn the language and partly because the functions in that module are well suited to a statically typed language.  (Though the Python version is already impressively fast.)

I realize that pretty much the entirety of this module is your work;

[2018-09-23 13:11] pganssle commented on #820
@jbrockmendel OK, I agree.

Take-away for anyone who wants to make a PR:

1. Change the `Z` detection to detect `z` as well in `dateutil.parser.isoparse`
2. Add `z` to `UTCZONE`.

The only remaining uncertainty I have is whether we should make `UTCZONE` case-insensitive. I'm thinking maybe in a future version we can have that, but with a switch to turn it off.

[2018-09-23 13:45] pganssle commented on #821
@bsolomon1124 I'm glad the isoparser could be helpful to you. It was at least partially designed with static languages in mind, since I'm hoping to start with this and/or the time zone logic for a first pass at adding a compiled backend to `dateutil`. I wrote a version of this with Cython and C (the latter of which formed the core of [CPython's `datetime.fromisoformat`]).

As for adding the `go` v

[2018-09-23 13:45] #821 closed

[2018-09-23 16:57] bsolomon1124 commented on #821
@pganssle Thanks for considering and you raise a valid point regarding maintenance.  I'm going to add some additional tests and then will likely upload to my own GitHub page with proper attribution and will let you know when I do.

[2018-09-25 17:13] IlyaOrson commented on #197
This [work around](https://stackoverflow.com/a/49139170/6313433) was useful for me:
[code]

[2018-09-25 17:58] pganssle commented on #197
I think this may be: https://bugs.python.org/issue29097

[2018-09-27 16:17] bsolomon1124 commented on #821
@pganssle FYI, I've added a Go version of `isoparser.py` at https://github.com/bsolomon1124/isoparse.  It is passing all tests, most of which were replicated from `test_isoparser.py`.

I also made a point of citing you as the original author and offering the disclaimer that the two may not mirror, align, or track each other perfectly going forward.

[2018-10-03 15:33] MartinThoma opened #823 "rrule with YEARLY frequency starting on a leap day"
Suppose I wanted to get when to celebrate birthdays with rrule. Then the frequency YEARLY works fine, except for leap days. There it is in fact only every 4 years.

Is there any way to deal with it directly with rrule?

    from datetime import datetime
    from dateutil.rrule import rrule, YEARLY

    n = 1
    print(list(rrule(freq=YEARLY, count=n + 1, dtstart=datetime(1990, 4, 28))))
    print(

[2018-10-03 15:34] MartinThoma commented on #823
Question was also asked on SO: https://stackoverflow.com/q/52630269/562769

[2018-10-03 15:40] MartinThoma commented on #823
Going through https://tools.ietf.org/html/rfc5545 I cannot see how YEARLY and leap days are supposed to work.

[2018-10-03 15:49] pganssle commented on #823
Duplicate of #149. Will be fixed as part of #285, and specifically when #522 is merged. The original author of #522 seems to have mostly abandoned it, so if anyone wants to take that and run with it, please do.

[2018-10-03 15:49] #823 closed

[2018-10-03 15:51] pganssle commented on #823
@MartinThoma They are supposed to work like this:

[code]

If you want to fall back to the day before. Replace `SKIP=FORWARD` to fall foward, and `SKIP=OMIT` to get the current/default behavior.

[2018-10-04 19:10] ericvw commented on #756
The more I think on this, I don't feel like it is necessary; primarily because there should be a canonical location for the timezone database that is used for the machine.

[2018-10-04 19:10] #756 closed

[2018-10-06 18:08] #820 closed

[2018-10-08 23:42] jpurviance commented on #788
I'dd be interested in working on this. What's the progress on 2 from above?

[2018-10-17 09:02] #691 closed

[2018-10-18 22:53] cyberfox1 opened #826 "How to prefer British date format?"
Say this date:

    7/10/2018 12:51:31

I would prefer this to be British interpretation:

    2018-10-7 12:51:31 (not 2018-7-10)

However, if the only valid choice is American dates, e.g.

    7/17/2018 12:51:31

Then parse as:

    2018-7-17 12:51:31

Is it possible?

[2018-10-18 23:44] jbrockmendel commented on #826
[code]

[2018-10-23 16:07] pganssle commented on #826
@cyberfox1 I think @jbrockmendel solved your issue, so I'm going to close this.

[2018-10-23 16:07] #826 closed

[2018-10-24 15:26] arctarus44 opened #827 "RRule next occurence computation"
# Summary

In some case, when I use the ``after`` method to compute the next occurrence of a rrule. The occurrence returned is not correct : 1 day is added to the expected occurrence start.

Did I do something wrong ?

## How to reproduce

[code]
## Current behavior
For a rrule "FREQ=WEEKLY;BYDAY=FR" with a start date at Thursday 13 September 2018 23:15:00 UTC, when I compute the next occurrence a

[2018-10-24 15:54] pganssle commented on #827
@arctarus44 I don't understand the issue, you say the current behavior is that it returns `2018-10-19 23:15:00+00:00`, and the current behavior is that it returns `2018-10-19 23:15:00+00:00`. Seems like it works?

[2018-10-24 15:57] pganssle commented on #827
Also I've edited your example to avoid using `pytz`, since that makes it easier to reproduce without having `pytz` installed. I am obliged to mention that [you should not use `pytz` when you could use `dateutil.tz` anyway](https://blog.ganssle.io/articles/2018/03/pytz-fastest-footgun.html).

Also, perhaps you don't know this, but `datetime.datetime.fromtimestamp` takes an optional `tz` argument, s

[2018-10-24 16:09] arctarus44 commented on #827
Thank you for your advices.

I am sorry, I made a mistake. With the current behavior I get ``2018-10-19 23:15:00+00:00`` when I expect ``2018-10-18 23:15:00+00:00``.

[2018-10-24 16:21] pganssle commented on #827
@arctarus44 The RRULE you have written specifies that recurrences only happen on Fridays (BYDAY=FR), since `2018-10-18` is a Thursday, no recurrence occurs on that day. The next recurrence after `2018-10-18` is Friday, 19 October 2018, so this is not a bug.

I'm not quite sure what you are trying to accomplish here, but I can help you design a new RRULE if the one you've written isn't giving you w

[2018-10-24 16:21] #827 closed

[2018-10-24 18:55] pganssle commented on #776
@jramacha Yes, all tests are run with Python 3 and Python 2, but when I say `str` I mean Python 3's `str`. In reality it's `six.text_type` and `six.binary_type`, or possibly `six.text_type` (which is `unicode` in Python 2 and `str` in Python 3) and `bytes`.

[2018-10-24 19:45] arctarus44 commented on #827
Thank you, you pinpoint the bug I was trying to fix.

This situation is the result of the definition of a rrule while using the Paris timezone, bad timezone handling and arcane code. The rrule I gave you earlier was originally designed to work on Friday 1h15.

I do not know by heart the rrule specification, but I think they are probably something to fix. In my opinion, the rrule computation should

[2018-10-24 19:53] pganssle commented on #827
`DTSTART` does not have to be a valid instance of the rule, it's just the rule's base. `FREQ=WEEKLY` means "repeat every week" and `BYDAY=FR` means "on Friday". If you change that to `BYDAY=TU,TH`, it will repeat every week on Tuesday and Thursday.

RRULE is also weird in that the `BY` rules mean different things when the component is greater than or smaller than the canonical frequency, so for ex

[2018-10-24 19:57] pganssle commented on #827
By the way, if you want something that happens every Friday at 13:15, I would not do it in UTC. You should do it this way:

[code]

It works fine if you set `dtstart` to be aware (e.g. `dtstart = datetime(2018, 9, 10, 13, 15, tzinfo=PARIS)`), but there are some edge cases that are better avoided. Definitely do not use `pytz` time zones with `rrule`.

[2018-10-24 20:10] arctarus44 commented on #827
Thank you a lot !

Your responses are extremely interesting and helpful

Have a nice day.

[2018-10-25 09:06] michaelfresco commented on #431
Are there any updates on this? I'm excited about the DateRange feature. Seems so useful to me (as en end-user).

[2018-10-25 14:15] pganssle commented on #431
@michaelfresco For the moment, you can do something completely equivalent with this:

[code]

That said, `rrule` is *very* powerful and complicated, and not as simple as a `daterange` could be.

I think maybe we can add in `utils` some convenience function like this, at least for now:

[code]

In such a simple function, I think we don't need to handle the edge cases around DST, because we already

[2018-10-25 18:13] #664 closed

[2018-10-30 11:47] jramacha commented on #802
@pganssle Does it have to be tested on a specific version of Windows?

[2018-11-04 16:07] pganssle commented on #135
@STANAPI For the future, I recommend that you read [Craft Minimal Bug Reports](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports), as that will help you get your problem solved more easily.

I do not know what the problem with your application is. I notice in the example that you are using `pytz`. You can [read here why I think this is a bad idea](https://blog.ganssle.io/articles/

[2018-11-06 15:28] cogtepsum opened #834 "Strange result while parsing 'YYYY-MM'"
Ubuntu 18.04
python3.6
dateutil 2.7.5

Trying to parse 'YYYY-MM' string
[code]
for some reason produces 6th date. I was expecting `datetime.datetime(2018, 10, 1, 0, 0)`

[2018-11-06 15:52] jbrockmendel commented on #834
For missing pieces of the date it defaults to using that piece of today's date.  Try passing `default=datetime(1997, 4, 3)`:

[code]

[2018-11-06 16:09] cogtepsum commented on #834
So the problem was with what I was expecting. I guess it's fixed then =) Thanks!

[2018-11-06 16:09] #834 closed

[2018-11-08 16:48] fersarr opened #835 "allow tzfile to be hashable"
Why cant we allow tzfile to be hashable?

A lot of our code has issues on python 3 because it expects tzfile (among others, like weekday #815) to be hashable.

I read your article here https://gist.github.com/rowillia/c0feed97c1863b2d8e5a3ed73712df65
and while it explains how python changed, it doesn't explain why this particular one shouldn't be hashable I believe.

[2018-11-12 12:56] samkit-jain commented on #713
Same problem with the `DD.MM` format. Reads the day part but misses out on the month.

[2018-11-13 01:48] alexandershov opened #838 "Strange results for Kwajalein during UTC+11h -> UTC-12h transition in 1969 on OS X"
Hi!

I'm getting strange results for the Kwajalein timezone (which transitioned from UTC+11h -> UTC-12h at 1969-10-01T00:00:00 local time).

[code]

Expected result is '1969-09-30T11:59:00+11:00'

I can reproduce this behaviour only on OS X (10.11.6, yeah, I know I should upgrade :)
Dateutil version is 2.7.3 (I'm getting the same result on '2.7.3.dev261+g04fe4be'), Python is 3.7.0.
Same code works

[2018-11-13 04:45] pganssle commented on #835
That is not my article, I don't know whose article that is.

I don't know why you want `tzfile` to be hashable. I don't think `__eq__` is even defined for `tzfile`. It's hard to know what that would mean.

I would like to improve`tzfile`'s `__str__`, maybe that would solve your "tzfile should be hashable" problem?

[2018-11-14 04:32] tvalentyn opened #840 "Cannot install dateutil from sources starting from dateutil==2.7.1"
Here's a repro from a virtual environment:

[code]

Do you have any ideas why starting from version 2.7.1 during installation of python-dateutil we happen to run this command `/tmp/myenv/bin/python -m pip install --ignore-installed --no-user --prefix /tmp/pip-build-env-vNkVo1 --no-warn-script-location --no-binary :none: --only-binary :none: --no-index -- setuptools>=38.2.5 wheel`?

Due to `--ignor

[2018-11-14 11:13] sebix commented on #840
That's a virtualenv change, they now don't use the system's libraries by default anymore.

Use `--system-site-packages` in the virtualenv creation to change this

[2018-11-14 16:55] pganssle commented on #840
This is very strange. I don't think `--system-site-packages` should help, and indeed it does not.

I'm guessing the problem, such that it is one, that in version 2.7.1, we [added  `long_description_content_type`](https://github.com/dateutil/dateutil/pull/648), which bumped the `PKG-INFO` metadata from version 1.2 to 2.1. `pip` or whatever is detecting that the metadata is version 2.1 and attemptin

[2018-11-14 16:55] #840 closed

[2018-11-16 17:00] pganssle commented on #792
@jbrockmendel Well, we could allow this to be hashable if we had a better `__eq__`, and `dateutil` is under no compunction to make the same choices as `datetime.timezone`, which is why I think we could change the equality semantics and thus the hash semantics.

I'll also note that `datetime.timezone` *is* hashable, so if we're going for consistency with `datetime`, then we should probably do hasha

[2018-11-16 17:02] pganssle commented on #835
The challenges of making `tzfile` hashable are very different from those of `tzoffset`. In this case it's hard to tell what it even means for two `tzfile` objects to be equal, and hashing all the contents of one of these things is probably expensive. It's also not clear why the object itself would need to be hashed.

I think when #76 is done that should be a reasonable alternative for most people

[2018-11-16 17:07] pganssle commented on #838
Hm, I looked into this and I thought I compiled a response, but I guess that got eaten by something. I think that this issue is to do with the way your zoneinfo binaries were compiled. They are obviously very old and are compiled with a very old version of `zic`. More recent versions of `zic` prepend the transition information with a transition at `-MAXINT` and append one at `+MAXINT`. This means

[2018-11-29 12:54] cuzik opened #841 "Criate datainfo with Pt-br language constants rewrites"
Hi hi :cow:

Create a lib to rewrites the constants used in `datainfo` class. Write the constants with a Pt-br words to parse texts in this language.

Access this repository for more information: https://github.com/magrathealabs/dateutil-br

Or to see pip lib: https://pypi.org/project/dateutil-br/

## Install

[code]

## Usage Exemples

[code]

Copyright (c) 2018 [Magrathea Labs](http://www.magrat

[2018-11-29 12:55] #841 closed

[2018-12-01 00:24] jbrockmendel opened #842 "Use tzutc() instead of tzlocal() in cases where both are accurate"
`parser._build_tzaware` checks for `elif res.tzname and res.tzname in time.tzname` before checking for `elif res.tzoffset == 0`.  In the case where we parse a zero-offset and the locale happens to be UTC, the datetime returned by `parse` has `tzlocal()` as its tzinfo instead of `tzutc()`.

We should consider changing the ordering to return tzutc() instead

[2018-12-09 05:03] nathanielatom opened #845 "Incorrect Parsing for ISO8601-like Format"
[code]

The minute is parsed incorrectly. I know this isn't exactly an ISO8601 formatted timestamp, but it comes from a filename which doesn't support the use of colons. I was caught a bit off-guard by the silently incorrect value, I think raising a ValueError would be preferable. But the resulting timestamp is pretty close, so full parsing support would be nice.

From https://github.com/pandas-de

[2018-12-09 19:03] pganssle commented on #845
What's happening here is that the parser has already found Y-M-D, and sees `-01` and interprets it as a time zone, `UTC-01`, then it sees `-00` and decides that's `UTC-00` and overwrites the previous value.

We've had similar bugs in the past where certain tokens were found more than once and were silently overriding one another, but evidently we don't do a check for that in the logic that checks

[2018-12-09 21:42] nathanielatom commented on #845
Thanks for all the info! We're doing something similar to your final suggestion. But I look forward to the parser overhaul.

[2018-12-12 04:01] LincolnPuzey opened #846 "Using ignoretz with a tz-aware default"
[code]
from the docs:

In my example we can see that the timezone in the provided string is being ignored, as per docs, but the return value is tz-aware since the default value is tz-aware, which contradicts the docs.

Not sure if this is a bug or an issue where the docs need to be clarified.

Note: using Python 2.7.15

[2018-12-16 03:39] OmkarPathak opened #847 "Cannot parse correct year"
I have a string as:
[code]
Parser outputs the following Date:
[code]
While the actual date is **July 2015**

With `fuzzy_with_tokens=True`:
[code]

Any workarounds? It is taking 10-30 into consideration too!

[2018-12-17 17:32] h-vetinari commented on #197
Update for this:

@pganssle
That bug was fixed in 3.6.7 / 3.7.1, but the issue here still persists even with the fix

@IlyaOrson's workaround does the job for me, but the underlying issue remains - as noted by @ggtools  in the OP - that `time.localtime()` cannot deal with negative values on windows. Couldn't find a corresponding bug in the CPython bugtracker.
[code]

I'll also note that the origin

[2018-12-19 17:30] pganssle opened #848 "Should tz.gettz() return tzwinlocal on Windows?"
[`tzwinlocal`](https://dateutil.readthedocs.io/en/latest/tz.html#dateutil.tz.tzwinlocal) is a different kind of local time object, and one that works much better in many respects on Windows. There was a suggestion in #197 to make `tz.tzwinlocal` the implementation for `tz.tzlocal` on Windows, but I think that is probably a bridge too far.

One thing we *can* do, however (and I will consider this a

[2018-12-19 17:39] pganssle commented on #197
There are several reasons for this. One is backwards compatibility (it would be a breaking change), but the more important one is that `tzlocal` and `tzwinlocal` do two different things. The latter actually reads data from the Windows registry and constructs a time zone object from it, the former is a simple wrapper around Python's `time` module's calls to the system time.

There are times when yo

[2018-12-19 17:44] pganssle commented on #197
Hm. I do not think this issue can be solved at the `dateutil` level. @IlyaOrson's workaround just shifts over the time by some fixed amount - I don't think it will work correctly for dates sufficiently far back in the past (though far enough back and the meaning of the time zone becomes a lot blurrier), and it may only give the "right answer" because Windows itself doesn't have sufficient support

[2018-12-24 07:43] maozguttman opened #849 "Parsing error for "... PST8PDT""
Starting from dateutil 2.7.0 (and also: 2.7.1, 2.7.2, 2.7.3, 2.7.4 and 2.7.5) date parsing of example below is failing. It worked with dateutil 2.6.1. Using Python 2.7.15.

Example:
[code]
Error:
[code]

[2018-12-26 00:33] jbrockmendel commented on #849
"PST8PDT" is definitely not a format the parser will recognize.  Where does this example come from?

[2019-01-01 11:42] pgcd commented on #341
I agree with @pganssle - that's exactly my scenario (I need to use RRULE strings generated by calendars with various degrees of compliance), and the code linked by @WhyNotHugo causes errors that I cannot handle in a satisfying way.
I also find it rather confusing that the docs state that "missing values" will be extracted from dtstart: in my opinion, this suggests that missing timezone information

[2019-01-01 17:06] raguiar2 opened #851 "Confusing error message: RRULE UNTIL values must be specified in UTC when DTSTART is timezone-aware"
Context in https://stackoverflow.com/questions/53997143/valueerror-rrule-until-values-must-be-specified-in-utc-when-dtstart-is-timezone/53997309#53997309

I've been trying to parse recurrence rules using python's dateutil rrule package

However, I am getting an odd error inconsistent with the way I understand recurrence rules

The error is

ValueError: RRULE UNTIL values must be specified in UTC w

[2019-01-02 19:07] monilbidvertex opened #852 "Comma delimitation returns the wrong date. Version 2.7.3"
Comma delimitation of a string with a date returns the wrong date.

Running the following code returns the following value:

[code]

In another such example, for the same date, the year returned was 2019 instead of 2018.

[2019-01-09 17:48] raguiar2 opened #853 "unsupported RDATE parm: TZID=AMERICA/LOS_ANGELES"
I'm trying to parse the following rrule string:

`rrulestr("DTSTART;TZID=America/New_York:20180310T130000 RRULE:FREQ=DAILY;INTERVAL=1;COUNT=5\nRDATE;TZID=America/Los_Angeles:20170219T180000,20170226T180000")`

which I pulled from a google calendar event. However, this raises an error:

`unsupported RDATE parm: TZID=AMERICA/LOS_ANGELES`.

Isn't this a valid RDATE string? Confused about why this is

[2019-01-10 02:08] alkasm opened #854 "ISO8601 "Durations" supports"
See https://en.wikipedia.org/wiki/ISO_8601#Durations

This seems like a relatively easy thing to implement. There are some edge cases to consider (it allows a fractional component for the smallest time period specified, so like `'0.5Y'` which `datetutil` doesn't currently support, but aside from that, I think this could be implemented well. And the `P` prefix to the string should let it be an easy

[2019-01-10 14:19] pganssle commented on #854
I've been kicking around the idea of duration parsing support for a long time. This was one of the next things on my list for [isoparse](https://dateutil.readthedocs.io/en/stable/parser.html#dateutil.parser.isoparse), the only real question was how best to do the API.

The correct place for this functionality is in [`dateutil.parser.isoparser`](https://github.com/dateutil/dateutil/blob/master/date

[2019-01-10 20:19] alkasm commented on #854
That's why I figured it wouldn't be processed via `parser.isoparse`, since the period is necessarily a delta, though I agree the API should be as least fragmented as possible.

---

Just to put the actual definition in this ticket...

Under Section 2, Terms and definitions, the ISO 8601 standard states:

There are additional notes which may be helpful to have here as well:

---

Just to be clear,

[2019-01-10 20:31] pganssle commented on #854
@alkasm Well, I realized a long time ago that `relativedelta` has two components to it - it serves as a "partial datetime" and a "calendar delta" - these are the "absolute" and "relative" components, respectively. The way it currently works is that you specify both of them, and then arithmetic operations start by replacing all the components in your datetime with the "partialdatetime" values, then

[2019-01-10 20:44] alkasm commented on #854
@pganssle great, thanks for the background! That all makes sense.

[2019-01-14 04:10] wjo1212 opened #855 "incorrectly parsing timezone in ISO format timezone: UTC+8:00 UTC-8:00"
dig into the object, found the timezone parsed is incorrectly identified for `UTC+HH:MM`
`UTC+8:00` is identified as timezone `UTC-8:00`
is it a known issue?

[code]

refer to
http://timestamp.online/

[2019-01-14 06:03] wjo1212 commented on #855
i found it works for `2019-01-14 11:13:09+8:00`, close it. now

[2019-01-14 06:03] #855 closed

[2019-01-15 14:14] teriblus opened #856 "Convert rruleset to str and back"
I'm using rrule to specify my events recurrence and I save `str(my_rule)` in a database column. When I want to retrieve my events, I use `rrulestr(db_rule)`.

The problem is that I need to use `rruleset` because I need to exclude some dates. I was expecting that I would be able to serialize my rrulesets with `__str__` but I was surprised when I discovered it was not possible. The docs states that

[2019-01-15 14:56] teriblus commented on #856
I wrote a function that accesses private members in order to do what I need (serialize one rule with one or more exdates).

'def rruleset_to_str(myset: rruleset) -> str:
    ret = str(myset._rrule[0])
    ret += "\nEXDATE:"
    for date in myset._exdate:
        ret += date.strftime("%Y%m%dT%H%M%S")+","
    return ret[:-1]'

[2019-01-15 15:38] teriblus commented on #856
Ok thank you for your feedback. If I need more than one rule and some exdates, I'll probably give it a try.

[2019-01-23 04:50] lissizza commented on #275
I agree with jeinarsson, I need to work with dates and first thought rrule is ideal for my purposes, but I cannot understand how can I get dates without final back converting. It would be great to have such ability to choose the format or to get the same type what you have used on input.

[2019-01-23 08:40] toshetah commented on #349
The solution I found for this problem is using isoparser from this package.
Example:
parser.isoparse("2015-01-01T01:01:01Z")
datetime.datetime(2015, 1, 1, 1, 1, 1, tzinfo=tzutc())

[2019-01-31 20:33] nicoe opened #857 "Tests are broken because a change of API in pytest"
Since https://github.com/pytest-dev/pytest/pull/4564 `get_marker` does not exist anymore which renders the tests unusable when running them through `python -m pytest`.

[2019-02-02 15:37] pganssle commented on #857
Thank you for reporting this and submitting a fix @nicoe!

[2019-02-02 15:54] #857 closed

[2019-02-03 15:13] pganssle opened #860 "Update tzdata to 2018i"
Normally I don't have dedicated tickets for this, but I want to get it updated before the 2018i release.

[2019-02-03 17:17] #860 closed

[2019-02-03 17:46] #802 closed

[2019-02-03 17:46] pganssle commented on #802
Fixed in #861

[2019-02-04 14:51] #410 closed

[2019-02-06 23:34] s-leung commented on #853
I cannot parse RDATE when it has the TZID param:

`
RDATE;TZID=America/Los_Angeles:20190111T173000
`

[2019-02-07 01:32] cliffxuan opened #866 "tz produces strange timezone for datetime.isoformat()"
When calling datetime.isoformat(), the timezone part of the string has seconds like this: 1840-06-03 23:20:33-04:06:04

Version: 2.8.0

Python Version: 3.6.2, 3.7.1

Code to reproduce behaviour:
[code]

Output:
[code]

In Version 2.7.5, this is the output:
[code]

[2019-02-07 16:59] jbrockmendel commented on #842
@pganssle on board with this change?  If so I'll make a PR (or @pg1671 could beat me to it)

[2019-02-07 17:02] jbrockmendel opened #867 "When PY3-only, use stdlib's tzinfo objects where viable"
Specifically timezone.utc and fixed offsets.

[2019-02-07 17:08] pganssle commented on #842
@jbrockmendel I feel like this is a duplicate ticket of something else and I opined on this, possibly differently, elsewhere.

I think I'm fine with the general idea, but we should push it to version 3.0 because it could be considered a breaking change.

[2019-02-09 16:18] pganssle commented on #866
If you can use Python 3.7, I recommend using `datetime.fromisoformat` to parse the results of `isoformat`. `isoformat` does not always produce a string that is compliant with ISO 8601, and `dateutil.parser.parse` *generally* can only handle so many "edge cases" before the codepaths start to cause parsing failures in the common case.

In this case, the main problem is that time zones were not stand

[2019-02-09 16:21] pganssle commented on #867
I'm guessing this is related to the parser?

I'm maybe -0 on this. This would be a backwards-incompatible change. The main benefit would be that in some situations the `stdlib`'s time zone objects will probably be faster (I have not benchmarked this so it's not necessarily true). On the other hand, there is no real plan to deprecate `tzoffset` or `tzutc`, and those classes have additional "fast pa

[2019-02-09 16:42] jbrockmendel commented on #867
More about the equality semantics

[2019-02-09 16:46] pganssle commented on #867
Yeah the equality semantics for time zones is kind of a mess, I dunno if we're going to solve that any time soon, though. We may be able to fiddle around and make it so `tzoffset` is equal to an equivalent `timezone` object, though. That said, it may be hard to make the hashing work out correctly if we do that.

[2019-02-09 22:27] cliffxuan commented on #866
@pganssle thanks for the reply!

So this is a new behaviour in the latest release of `python-dateutil==2.8.0`. It works ok with `2.7.5`. Is there any change that may have caused this and need to be aware of?

Yes, I'm indeed using `fromisoformat` for Python3.7. https://github.com/cliffxuan/mew/blob/master/mew/serializer.py#L130 `dateutil.parser.parse` is the best alternative for Python3.6 I've fou

[2019-02-09 23:00] pganssle commented on #866
The main difference here is probably #763, which adds support for sub-minute offsets to time zones. Prior to Python 3.6, sub-minute time zone offsets were not supported at the language level, and version 2.8.0 adds support for that. (Interestingly, this was added at the PyLondinium sprint)

I think `dateutil.parser.isoparse` may be a better "backport" of `fromisoformat`, given that I based `fromis

[2019-02-09 23:09] cliffxuan commented on #866
Thanks. I'm happy to close this issue.

[2019-02-09 23:09] #866 closed

[2019-02-22 18:18] pganssle opened #869 "Use pep517.build in release.py"
We are now fully compliant with PEP 517 and PEP 518 (see [this three article series by @gaborbernat for more information](https://www.bernat.tech/pep-517-and-python-packaging/)), and so I'd like to start building our release artifacts using a PEP 517 build front-end.

At the moment, I think the best one is the [`pep517` library](https://pypi.org/project/pep517/). The easiest thing to do is to chan

[2019-02-22 18:23] pganssle opened #870 "Add a "build" job in tox"
I would like to start phasing out my ad-hoc [release.py](https://github.com/dateutil/dateutil/blob/master/release.py) file in favor of a `tox` environment, which will allow me to declare explicit dependencies and will make things all-around easier.

For the moment, we can use [virtualenv's "publish" function](https://github.com/pypa/virtualenv/blob/master/tox.ini#L124) as a template that wraps the

[2019-02-22 18:31] pganssle opened #871 "Move all simple constants from setup.py into setup.cfg"
Nearly all the options in [our `setup.py`](https://setuptools.readthedocs.io/en/latest/setuptools.html#configuring-setup-using-setup-cfg-files) can be moved over to `setup.cfg`.

The only things that need to stay are:

1. `use_scm_version` (I believe there is no declarative option for this)
2. The README configuration, which involves modifying the README
3. `cmdclass`, which I think has no declara

[2019-02-22 19:21] pganssle opened #872 "Add support for all the parameters of RDATE"
This is related to #410 and #859, we currently only support a limited subset of possible values for `RDATE`, but we should support all the parameters in `RDATE`, the grammar for which is set out in [RFC 5545](https://tools.ietf.org/html/rfc5545#page-120):

[code]

This is nearly identical to the `EXDATE` grammar, so you can start with a direct port of #859, the only difference is that `RDATE` shou

[2019-02-22 19:29] pganssle opened #873 "Add documentation preview"
Right now it's kind of a pain to review documentation PRs, since it requires pulling the PR branch and building the documentation locally. In setuptools we [we set up netlify](https://github.com/pypa/setuptools/pull/1367) and it went swimmingly, but it requested a lot more permissions than I was super comfortable with at the time.

@vtbassmatt Has a demo project that isn't totally smooth but invol

[2019-02-23 05:20] aquinlan82 commented on #871
We are currently working on this issue.

[2019-02-23 07:48] #869 closed

[2019-02-23 18:57] frispete opened #878 "historical DST values"
While investigating an issue from the testsuite of [Nikola](https://github.com/getnikola/nikola/issues/3236), I stumbled across a strange behaviour of historical DST offsets:
[code]

Minutes and even seconds in the DST offsets before 1902 look somewhat arbitrary.

Question is, is that to be expected and probably correct for some reasons, or is this behaviour a bug?

[2019-02-23 23:31] #871 closed

[2019-02-24 15:30] #776 closed

[2019-02-26 04:14] jbrockmendel opened #885 "DISC/DES: desired _timelex behavior"
Short to medium-term my goal for _timelex is to get the optimizations in #732 in.  This Issue is to discuss the desired behavior long-term.

I think we should consider having _timelex keep some strings together to be more easily recognized by `ParserInfo` methods.  e.g. in the status quo we have:

[code]

I think these would be much more useful if these were retained as "A.D." and "P.M.", respecti

[2019-02-26 04:25] jbrockmendel commented on #885
While there are some downsides to bigger patterns, matching larger substrings may be the best way to prioritize "connected" components and fix some of the currently-xfailed cases like "1237 PM BRST Mon Oct 30 2017"

[2019-02-26 04:29] jbrockmendel opened #886 "DEPR: drop support for "10h36m28.5s" formats"
As far as I can tell these are a legacy format really intended to represent timedeltas, really don't belong in a datetime parser.  They add non-trivial complexity to the parser code.

[2019-02-26 15:08] pganssle commented on #886
Yeah I'm really not a big fan of these. I think we'll need to write a new `timedelta` parser for these maybe, which is blocked on a whole bunch of other stuff.

[2019-02-26 15:28] pganssle commented on #878
@frispete I can't speak to these specific offsets, but this kind of thing is definitely to be expected.

The reason is that the early 1900s is when standardized time zones were developed, prior to that, everyone was using local solar mean, so the offset just depends on the physical location of the nominal city (though I imagine even that's pretty arbitrary, because there are many IANA "zones" that

[2019-02-26 15:28] pganssle commented on #878
I'm going to close this since it's not an issue with `dateutil`, but I'm happy to re-open it if I've misunderstood.

[2019-02-26 15:28] #878 closed

[2019-02-26 18:18] frispete commented on #878
@pganssle Thanks Paul for your detailed answer.

Since nobody is going to miss his train because of this, no harm is done anyway...

Probably Marty McFly disagrees.

[2019-02-26 19:54] pganssle opened #888 "Add code coverage for Azure pipelines"
I think `codecov` doesn't have direct interactions with Azure pipelines right now, so we'll need to maybe use the token method? I feel very uncomfortable checking any sort of authentication token in to CI, though.

I think maybe the best thing to do is to set it up as some sort of variable in the Azure pipelines console, and access that in the `azure-pipelines.yml`. Unfortunately I think that mean

[2019-02-26 19:58] pganssle opened #889 "Use Azure pipelines as main pypy tester"
The Travis PyPy runs have been getting flaky lately, but we *are* testing them already on Azure pipelines. I'm thinking maybe we can switch them over to at least allowed failures on Travis in favor of the Azure builds.

Also, I'm wondering if we can solve #451 at the same time by adding Windows + PyPy builds for Azure pipelines.

This is semi-blocked on #888, since we still need coverage numbers f

[2019-02-27 17:13] wjehenddher commented on #349
@toshetah 's workaround is good as long as `dateutil` version is 2.7.0+ https://github.com/dateutil/dateutil/releases/tag/2.7.0

[code]

[2019-02-28 17:49] jbrockmendel opened #895 ""fuzzy" should only ignore tokens at the ends"
e.g. even with `fuzzy=True`, we should never get a datetime out of `"foo2014BarMay__04"`.  At the moment this gives (run on Feb 28, 2019):

[code]

[2019-02-28 17:54] pganssle commented on #895
What about things like this?

[code]

That's a valid phrasing where all the tokens you can ignore are between legitimate tokens.

[2019-02-28 18:00] jbrockmendel commented on #895
I think those are supposed to be covered by `info.pertain`

[2019-03-02 14:41] bobwhitelock commented on #455
I recently ran into this issue myself locally, and I found it a bit tricky to debug. In my case this was with a large test suite and a slightly misconfigured local environment, leading to a couple of tests locally taking a different code path to what they normally would and unexpectedly passing a `MagicMock` to `parse`. From an external perspective this issue then manifested itself by the test pro

[2019-03-07 12:20] tscheburaschka opened #898 "Dates with dots are almost always day first"
### Observation
I found that date strings with dots, e.g. "7.3.2019", are generally not parsed correctly with the default dateutil.parser.parse() function.
`dateutil.parser.parse('7.3.2019')` gives `datetime.datetime(2019, 7, 3, 0, 0)` where it should be `datetime.datetime(2019, 3, 7, 0, 0)` for all people actually using dates with dots.
After looking at the test cases of dateutil ([here](https://

[2019-03-11 16:10] tsellers-r7 commented on #653
@pganssle - Was a decision made on this?  I looked at the site but didn't find a definitive schedule or published statement.

Thanks much.

[2019-03-13 21:09] attapurposevc opened #899 "relativedelta for semi monthly date ranges"
Hi Everyone,

Is there currently a way to add semi monthly relativedelta? It would be good to have that utility.

[2019-03-13 21:29] pganssle commented on #899
Can you clarify what "semi monthly" means in this context? The prefix "semi" is somewhat ambiguous.

Can you give some examples of inputs and outputs you expect?

[2019-03-13 21:46] jbrockmendel commented on #899
If relativedelta doesn’t do what you’re looking for, you might want to look at pandas’ pd.offsets.SemiMonthStart and pd.offsets.SemiMonthEnd.

[2019-03-14 15:40] attapurposevc commented on #899
I'm looking for a solution that can give me something like this:

1/9/2019
1/24/2019
2/9/2019
2/24/2019
3/9/2019

@jbrockmendel Correct me if I'm wrong, but I don't think there is a clean, general way of doing this in pandas.

[2019-03-14 23:54] jbrockmendel commented on #899
I think you're right; you would need to subclass tseries.offsets.SemiMonthOffset to implement the desired behavior.

[2019-03-16 15:35] pganssle commented on #899
@attapurposevc Are you saying you want to alternately pin to a specific day of the month?

If you want a series of dates that occurs at two days of the month, the best option is `dateutil.rrule.rrule`, like so:

[code]

[2019-03-20 21:04] Rk1990 opened #900 "leap year and relative delta"
Both statements below returns 1 year as relative delta
[code]
returns:
[code]

[2019-03-26 09:31] pgcd commented on #654
I'm not sure of the implications but wouldn't it be better to use an iterator instead of a list?

[2019-03-27 17:38] kainjow opened #901 "Intermittent parse() KeyError failure with 2.8.0"
We are seeing a KeyError exception with 2.8.0 intermittently. We have reverted to 2.7.5 for now. Seems like a thread safety issue with the new strong cache? Here's the traceback:

[code]

[2019-03-27 18:22] pganssle commented on #901
Hmmm, very interesting. I'm not quite sure which operation is not thread-safe, but from the stack trace I'm guessing it's `pop` - looks like maybe two threads find that `key` is in the dictionary simultaneously, one thread retrieves the value and deletes it, the other one attempts to delete it but finds it's already been deleted. I wonder if this is a bug in `OrderedDict`.

In any case, I think we

[2019-03-27 18:26] pganssle commented on #901
@kainjow By the way, what version of Python were you using? If this was a bug in OrderedDict that has been fixed, that would be good to know.

[2019-03-27 18:46] kainjow commented on #901
We're on 2.7.13 (working on upgrading to 3.7 is in progress).

[2019-03-28 16:10] pganssle commented on #901
OK, so I have written a little reproducer, it seems that `pop` is not thread-safe in Python 2.7, but it seems to be thread-safe in all of Python 3:

[code]

Maybe we can get the fix implemented in Python 2.7. In the meantime, while we still support Python 2, it might be a good idea to switch to the implementation in my [earlier response](https://github.com/dateutil/dateutil/issues/901#issuecomment

[2019-04-07 11:07] OliverO2 opened #902 "generates an unnecessary warning:"
#### Versions

* dateutil v2.8.0 (git 9e95111c)
* Python 3.6.7

#### Problem

With `dateutil/zoneinfo/dateutil-zoneinfo.tar.gz` removed, the following code generates an unnecessary warning:

[code]

Output is:
[code]

#### Suggestion

In function `__get_gettz.GettzFunc.nocache()` from `dateutil/tz/tz.py`, could you consider putting the call to `get_zonefile_instance()` last, after all other interp

[2019-04-07 11:07] OliverO2 opened #903 "Missing zoneinfo tarball generates an unnecessary warning:"
#### Versions

* dateutil v2.8.0 (git 9e95111c)
* Python 3.6.7

#### Problem

With `dateutil/zoneinfo/dateutil-zoneinfo.tar.gz` removed, the following code generates an unnecessary warning:

[code]

Output is:
[code]

#### Suggestion

In function `__get_gettz.GettzFunc.nocache()` from `dateutil/tz/tz.py`, could you consider putting the call to `get_zonefile_instance()` last, after all other interp

[2019-04-07 11:27] OliverO2 commented on #902
Duplicate #903

[2019-04-07 11:27] #902 closed

[2019-04-09 05:39] munikarmanish opened #904 "Requiring at least date, month, year for parsing"
The default parser is too lenient. It identifies all _valid numbers_ as dates. Can I make it a little stricter so that at least some of the information _MUST_ be present for successful parsing? I could do regex checking but there are just too many possible formats.

Basically, I want it to parse successfully only when the date, month, and year are _explicitly_ specified. I'm assuming that it must

[2019-04-10 16:19] jbrockmendel commented on #904
@munikarmanish I generally agree about some of the borderline cases, but backward compatibility will almost certainly make changing the behavior of `parse` a non-option.

My preferred solution would be to implement a new `parser` method that is called by `parser.parse` (similar to `parser._parse`, but public) that returns an object with more information than is currently returned, in particular wh

[2019-04-11 03:58] matthewgilbert opened #905 "Arbitrary bysetpos restriction to 1 to 366"
`bysetpos` seems to have an arbitrary restriction to between (1, 366) or (-366, -1)
https://github.com/dateutil/dateutil/blob/9e95111c8169a34f22fbd64fa122364fcc8a7b4c/dateutil/rrule.py#L497

Unsure what the initial rational for this was, but the restriction doesn't appear to be defined anywhere in [RFC 5545](https://tools.ietf.org/html/rfc5545).

that corresponds to the nth occurrence within the s

[2019-04-11 04:05] matthewgilbert commented on #905
Somewhat related to the above, although possibly a seperate issue, is that the `bysetpos` possition with minutely data seem to be broken. With `dateutil.__version__ == '2.8.0'`

[code]

whereas the following runs indefinitely

[code]

Not exactly sure what's going on here, but at first glance looks like `rrule._iter` never reaches its `yield` statement. This buggy behaviour with minutely data is c

[2019-04-18 07:26] MarkusPiotrowski opened #906 "How to uninstall/upgrade old, distutils-installed python-dateutil"
My system: Python 2.7.14, OS: Windows 7, 64 bit

I have an old installation of ```python-dateutil``` (1.5) and trying to update or uninstall with ```pip``` always gives the same message:

Can you assist me how to make a complete un-install of the old ```python-dateutil```? Is just deleting the respective foder in my ```site-packages``` folder enough or are there other files, logs etc. that need to

[2019-04-23 14:10] pganssle opened #908 "Build against tz master failing in caching logic"
I have been able to reproduce [this failure](https://travis-ci.org/dateutil/dateutil/jobs/523478272) locally, but I can't do it consistently, no idea why that is. It seems to be consistently happening on both Travis and Azure Pipelines, but when I pin `tzdata` to an old commit from before the breakage started, it's still broken.

I suspect maybe something in the testing stack had an upgrade betwee

[2019-04-23 14:14] pganssle commented on #908
It looks like it's a problem with `tox >= 3.8.0`. For now we can pin to `<3.8.0` until we have time to figure out why this is happening.

@gaborbernat Any ideas of what could have changed in `tox` that would be affecting my `WeakValueDictionary`s in this way?

[2019-04-23 14:34] gaborbernat commented on #908
Do you have the local output of the failure with ``tox -rvv`` ?

[2019-04-23 14:43] pganssle commented on #908
@gaborbernat Yeah, here you go (very long, lightly sanitized):

<details>

[code]

</details>

[2019-04-23 14:45] gaborbernat commented on #908
I fail to see how this has anything to do with tox. At worst could be related to virtualenv. Maybe we can look more into it at PyCon next week.

[2019-04-23 14:49] pganssle commented on #908
@gaborbernat Yeah, it's puzzling in a lot of dimensions. Pinning tox to `<3.8.0` definitely fixes it. though (see #909). Let's lookat it at PyCon.

[2019-04-26 15:02] maccinza commented on #901
I am having this same issue in Python 2.7 and dateutil 2.7.5.

[2019-04-27 08:59] dagwieers commented on #210
Is someone working on a fix ? We're three years into this now and I found out we're affected :-(
I guess trying to get this fixed for Python 2.7 has become impossible, yet affects us.
Working around it in dateutil (as described above) is the next best thing.

[2019-04-27 09:00] dagwieers commented on #197
This issue combined with https://github.com/dateutil/dateutil/issues/197 makes it impossible to get a local timezone on Windows reliably :-(

[2019-04-27 14:07] pganssle commented on #210
@dagwieers As far as I know no one is working on it, feel free to pick up this issue.

[2019-04-28 19:14] dagwieers commented on #210
@pganssle Is the [proposed solution from this thread](https://github.com/dateutil/dateutil/issues/210#issuecomment-320348647) as in #912 acceptable ? I genuinely wonder if we need to retain compatibility with pre-Windows 7.

[2019-04-29 02:31] labrys commented on #210
@dagwieers in my opinion as long as there's a current Python version that supports the windows version it should still be supported.  For example after python 2.7 has reached end of life next year, XP support should be dropped.

[2019-04-29 11:58] dagwieers commented on #210
@labrys Is there a link with information on what Windows versions are supported by each Python version ? I couldn't find anything using Google or in the Python documentation.

[2019-04-29 12:57] #451 closed

[2019-04-29 21:18] labrys commented on #848
@pganssle Would a `tz.tzlocal` from Windows generally compare equal to a `tz.tzlocal` from Linux?

[2019-04-29 21:33] labrys commented on #210
@dagwieers As of right now the only defining line for Windows version support is if its Windows XP and eaerlier.  The only current version of Python that still supports XP and earlier is Python 2.7.

The current list of Windows releases can be found at https://www.python.org/downloads/windows/
and releases that no longer support XP have a note in bold to that effect.

[2019-04-29 21:54] dagwieers commented on #210
Well, it's one thing to know that (for technical reasons?) a specific Python version no longer works for a specific Windows version, but that doesn't really give us insight into what Windows versions are tested and supported.

Does the Windows XP statement suggest that Windows Vista and Windows Server 2003 are still tested and supported by Python 3?

[2019-04-29 22:08] labrys commented on #210
Supported != Tested

I would say its a safe bet that Windows Vista and Server 2003 are not actively tested.

However, if a bug was reported on those platforms and someone provided a suitable fix I would expect it to be included until it is decided that the platform is no longer supported.

While I don't expect the python team is actively developing for those systems, without a statement of exactly

[2019-04-29 22:14] dagwieers commented on #210
Right, I was hoping to find any formalized decision, rather than "as long as it works", or "nobody reported otherwise".

Especially since we end up with the lowest common denominator in the implementation when using available interfaces.

[2019-04-29 22:17] pganssle commented on #848
@labrys I'm not sure if they compare equal, but equality is not super important in `tzinfo` objects, since the [semantics of `datetime` use `is` rather than `==`](https://blog.ganssle.io/articles/2018/02/a-curious-case-datetimes.html).

I will be speaking at the PyCon Language Summit on Wednesday about adding time zones to the standard library (see [my slides](https://pganssle-talks.github.io/pyco

[2019-04-29 22:32] labrys commented on #848
@pganssle Poor choice of words.  By compare I don't mean the comparison operators, I mean same available interface that can generally be expected to produce the same results on more than one platform.

For example, you have listed one of the upsides of `tz.tzwinlocal` as:

Does `tz.tzlocal` do this on Linux?  If not this would be a fundamental difference in how `tzlocal` and `tzwinlocal` behave an

[2019-05-01 15:31] md-magenta commented on #462
I hit this or a related bug today while working on some failing unittests. The tests used year 1900, 2000, 2100 and so on for far between dates. `datetime.datetime(1901,1,1, tzinfo=dateutil.tz.gettz('Europe/Copenhagen'))` returns different (and wrong) datetimes depending on the system.

[code]

[2019-05-21 19:25] Shiki-H opened #917 "Comma delimited datetime weird behavior"

[2019-05-27 05:34] koobs opened #918 "Test failure: test_tzlocal_offset_equal[GMT-tzoff1] (dateutil 2.8.0)"
Running into the following test failure while QA'ing dateutil 2.8.0 to update the FreeBSD port:

[code]
System/test  environment is:
[code]
System timezone is Australia/Sydney:
[code]

I've tried setting `TZ=UTC` and TZ=`other-non-utc-timezones` environment variables without affect.

[2019-05-27 05:48] koobs commented on #198
I can no longer reproduce these test failures this with 2.8.0, closing.

[2019-05-27 05:48] #198 closed

[2019-05-30 02:26] pganssle commented on #918
I would not expect the `TZ` variable to have any effect in that case, since `TZEnvContext` changes the `TZ` variable for the duration of the test. Does [`time.tzset`](https://docs.python.org/3/library/time.html#time.tzset) work properly in FreeBSD?

[2019-05-30 02:27] pganssle commented on #906
This is not really related to the `dateutil` project, it is presumably some sort of bad state that your system has gotten into. Presumably someone installed `python-dateutil` with `easy_install` ages ago. It's not specific to `dateutil`, presumably anything installed that way would be broken.

[2019-05-30 02:27] #906 closed

[2019-05-30 10:46] koobs commented on #918
@pganssle I run two FreeBSD buildbots for Python core, which pass all tests on all branches (less any known regressions). To the extent that the time module is tested, I can confidently say yes.

If there's some test case you'd like me to run on the system that exhibits the test failure reported here, I'm happy to run them and report back

[2019-05-30 20:15] bnlerner opened #919 "dateutil.parser.parse allows unrealistic timezones"
timezone offsets of greater than and less than or equal to 12 is not realistic and should not be allowed. Compliance to this standard prevents errors in other systems

Failure case
[code]

[2019-05-30 22:08] MarkusPiotrowski commented on #906
What you call 'ages ago' is actually a few years. I installed `python-dateutil` at that time in the recommended way. Now I needed it to update and run into trouble. I mean, it's your software that I wanted to update and I did nothing 'wrong'.  At one point in time you switched from `easy_install` to `pip`, but you can't give instructions how to update?

Or do you mean that an update from version 1

[2019-05-31 14:48] pganssle commented on #918
@koobs If you have a checkout of `dateutil` with the tests in it, can you do:

[code]

Assuming you are not in `UTC+14:00` time zone, I would expect the two timestamps to give different offsets, do they?

[2019-05-31 15:27] pganssle commented on #919
`dateutil` will need to support all time zones supported by the Python language itself (and theoretically someone could use some crazy "unrealistic" time zone for some reason at which point our software would be simply broken), regardless of how likely the offsets are to actually exist, so I'm inclined to say that this will not change.

Certainly we cannot ban offsets outside the range [-12, 12],

[2019-06-01 03:34] koobs commented on #918
[code]

[2019-06-01 15:51] chhote8 commented on #872
@pganssle I didn't understand the issue. Can you please describe it for me in  more brief.

[2019-06-01 22:52] bnlerner commented on #919
Understood. The problem ends up being when these time zones need to be accepted by other software, Example Postgres. Right now these time zones are rejected and a work around code to check this would need to be developed to catch this exception. If there isn’t an appetite to cap it at current listed time zones [-12,+14] we can develop this exception handling but thought I would raise it here first

[2019-06-02 06:10] chhote8 commented on #917
@Shiki-H
I will checkout the issue.

[2019-06-02 07:49] dharmeshagase commented on #666
I am new to Github and didn't really understand this....

[2019-06-04 02:52] pganssle commented on #919
@bnlerner Yeah, I think that in general to handle that on whatever adapters you have that are being passed to postgres. If Postgres or some other software restricts the domain of possible offsets to [-12, +14], I wouldn't be surprised if they also don't accept offsets like `-05:11:12.133473`, which is also a valid offset for a Python time zone.

Since `dateutil` really just translates strings into

[2019-06-04 02:52] #919 closed

[2019-06-11 14:26] pganssle commented on #918
@koobs Hm, so that's basically what I expected (though you're closer to `UTC+14` than I expected :wink:), which I find confusing.

Can you try this?

[code]

For me that prints `True`.

[2019-06-12 13:25] koobs commented on #918
@pganssle Did you want that tested against the git checkout of dateutil?

[2019-06-12 13:27] koobs commented on #918
[code]

[2019-06-12 20:44] pganssle commented on #918
@koobs Interesting, so it seems like the issue is in the way equality between `tzlocal` and `tzoffset` are defined, which is [here](https://github.com/dateutil/dateutil/blob/master/dateutil/tz/tz.py#L310).

How about this:

[code]

Can you run that with `TZ='GMT'`. I imagine any version of `dateutil` where you're having this problem will be fine.

By the way, do you know of an easy way for me to g

[2019-06-13 10:58] koobs commented on #918
@pganssle Flick me your ssh pubkey and I'll create you an account on the machine reproducing the issue

For the last high-latency debug request:

[code]

[2019-06-14 07:28] Watchful1 opened #920 "Support for non-integer months/years"
I got an error when passing 4.5 months to relativedelta and looking at the code, it seems that non-integer months and years are explicitly not supported. Is there a specific reason they aren't supported?

@pganssle it looks like you were the one to originally add the exception, any insight? I would be happy to put together a pull request to add support, but I wanted to make sure I'm not missing so

[2019-06-14 14:10] pganssle commented on #920
You can see in [this comment on issue #40](https://github.com/dateutil/dateutil/issues/40#issuecomment-95247084), the reason we never implemented this for months/years is that there's no clear definition for a fraction of a month or a fraction of a year. IIRC, I didn't change the end result (it was always an error to add a fractional year to something), I just started raising the error in the cons

[2019-06-15 03:08] Watchful1 commented on #920
That makes sense.

ISO 8601 doesn't support non-integer parts other than millisecond. And all the code implementations of it I was able to find don't either. Here's how I think it should work.

Float months and years should just be stored as floats, rather than trying to convert them down on object creation/update.

Float months would have these options,
- Pick a default to divide from, likely 30

[2019-06-15 18:33] imohitmayank opened #921 "nth occurence of week day in a specified period"
A query to print all occurrence of a particular weekday in a specified period works.

Ex: - Get all Sundays between 23rd May 2019 and 30th June 2019.

[code]

But if you want specific occurrence, it fails.

Ex:- Get 1st Sunday in the same period

[code]

In fact, it skips to the next month and gives first Sunday of next month. It seems its due to MONTHLY freq, but then how to handle this type of s

[2019-06-16 14:46] pganssle commented on #918
@koobs Sorry, I forgot to respond (I obviously lost interest as soon as we figured out the answer). I'm guessing that your system for some reason interprets `"GMT"` as equal to `"UTC"`, possibly with some symlink to something like `/etc/zoneinfo/UTC` or something. The code here is assuming that `TZ='GMT'` will have `tzname` set to `GMT` rather than `UTC`.

I'm wondering if this is actually a viola

[2019-06-17 05:32] koobs commented on #918
@pganssle Analysis follows, thank you @RhodiumToad for your help digging/groking what we found:

Your comment "GMT as equal to UTC", was close, but not quite the cause. It's not that GMT was equal to UTC, it was that "any non-present TZ name is the default timezone name". In FreeBSD's case ...

Change localtime default from GMT -> UTC
https://svnweb.freebsd.org/changeset/base/130332

Original thre

[2019-06-17 07:41] pganssle commented on #918
@koobs Thanks for getting to the bottom of that! That makes this way easier to solve from `dateutil`'s perspective, since we can just change the test to: `with TzEnvContext("GMT0"):`.

And also luckily this is just an invalid assumption in the test, not an invalid assumption in the software itself.

[2019-06-17 10:33] koobs commented on #918
@pganssle My pleasure. I can get it to pass with the following diff:

[code]
[code]

Is that the correct, full and complete change necessary?

[2019-06-17 18:21] pganssle commented on #918
@koobs Yes, that looks good to me, if you would like to make a PR. If you don't mind, could you also add the line:

[code]

I think that it would be good to have a TZ environment variable that is not of the format `XXX#`, and the POSIX standard specifically says that missing time zones fall back to UTC, so I think that should be safe.

[2019-06-18 03:34] koobs commented on #918
@pganssle Can do

[2019-06-18 03:38] koobs commented on #918
I'm getting a test_tzoffset_weakref failure with that UTC TZ addition:

[code]

[2019-06-18 03:39] koobs commented on #918
Shall we just leave this as a fix to the reported (GMT) issue?

[2019-06-18 14:24] apiszcz opened #922 "parse question, obtaining the strptime format."
Is it possible to create a strptime format string in the parser?
If not: Would it be possible to build one based on the format deduced from the parser?
If possible that format string could be used to define a field specific datetime object creation. So we use datutil.prase to understand the format, and if all are the same in the column, we then create datetime.datetime objects directly.

dateutil

[2019-06-18 15:46] jbrockmendel commented on #922
This has been discussed a few times but never implemented.  I think there's a general consensus that this would be nice, but not so much on how to get there from here.  If you'd like to give it a try, go for it.

[2019-06-18 16:04] pganssle commented on #918
@koobs Yeah, we can save that for a separate issue.

[2019-06-19 04:56] koobs commented on #918
I'll create a PR at some point this weekend. Thank you for the support @pganssle

[2019-06-19 15:17] pganssle opened #923 "Drop dependency on freezegun"
Freezegun does not seem particularly well-maintained. See https://github.com/spulec/freezegun/issues/293 and https://github.com/spulec/freezegun/issues/303, for example, but also https://github.com/spulec/freezegun/pull/297 and https://github.com/spulec/freezegun/pull/296#issuecomment-497175937.

I had been using it as a convenient way to mock certain functions, but I think we can probably just ad

[2019-06-19 15:21] pganssle commented on #922
@apiszcz Indeed this would be ideal. One of the bigger problems with this is that `dateutil`'s parser does things that cannot be accurately captured in an `strptime` string, like detecting time zones or setting the value of `fold` in the parsed string.

Having a way to output the parser's format is definitely a goal, though.

I will close this issue as a duplicate of #125, and further discussion c

[2019-06-19 15:21] #922 closed

[2019-06-23 11:47] labrys opened #925 "gettz('') fails on windows"
Given the following (tested with Python 3.7 and dateutil 2.8.0):
[code]

On Linux:
[code]

On Windows:
[code]

[2019-06-23 12:04] labrys opened #926 "gettz('') result is incorrect per the docs"
Per the docs:

On Linux it returns `None` instead of `tzlocal()`.

Related: #925

[2019-06-23 12:08] labrys opened #927 "gettz on Python 3 fails with TypeError when passed bytes"
Given the following code on Python 3.7:
[code]
A `TypeError` is raised:
[code]

[2019-06-23 12:19] labrys commented on #927
To be clear, a `TypeError` being raised for bytes isn't the problem since the docs say "Retrieve a time zone object from a string representation".

The problem is more that the raised error is unhelpful and should consider raising the `TypeError` with a more helpful message such as `TypeError: gettz arg should be str, not bytes`

[2019-06-23 18:52] lynncyrin commented on #535
I'm closing a bunch of my older github issues ♻️  feel free to open a new issue describing this same change! Or re-open this one, if someone is still interested in working on it 📝

[2019-06-23 18:52] #535 closed

[2019-06-26 13:37] pganssle commented on #920
Sorry, I realize I have not commented on this approach yet despite the PR #924. I am still mulling it over.

Broadly speaking, I think your definition of a fractional ambiguous time is *probably* the best we can do (1.5 years should be 1 year, plus 0.5 times as much time as it would take to get to the following year) - that would be most consistent with the way other ambiguous periods in `relative

[2019-06-26 14:06] jbrockmendel commented on #920
FWIW, I'd rather require users to do `rd(years=1, months=6)` than allow `rd(years=1.5)`.  In this case its unambiguous, but a) `months=1.5` is ambiguous, and b) it opens up rounding errors.

[2019-06-26 18:12] Watchful1 commented on #920
I do indeed have a use case. I'm trying to parse relative date strings using the dateparser library and [added support there](https://github.com/scrapinghub/dateparser/pull/531) for non-integer dates. Which now works for weeks/days/etc, but not months/years.

My end use case is the [u/RemindMeBot](https://www.reddit.com/r/RemindMeBot/comments/c5l9ie/remindmebot_info_v20/) on reddit, so I'm trying

[2019-06-27 13:18] pganssle commented on #920
@Watchful1 That seems like a reasonable use case. I don't think it's a good idea to add new arguments that have slightly different behaviors from other arguments, particularly in a case like this. People are already confused enough about the difference between `year=` and `years=`.

@jbrockmendel I would agree with you, but I think there's actually no way to accomplish the goal that @Watchful1 is

[2019-07-02 20:02] GadgetSteve opened #929 "pip show gives licence as UNKNOWN"
I believe that adding a `licence` entry to setup.py/pyproject.toml/equivelent would resolve this - it would remove the step of visiting the repository to check the licence type for those that have to worry about such things.

[2019-07-05 17:09] lorien opened #930 "Fail to parse "2018-12-10 17:55:02 (GMT+0:00)""
[code]

[2019-07-06 02:00] roniemartinez opened #931 "UnknownTimezoneWarning: ET (Eastern Time Zone)"
[code]

[2019-07-06 02:31] jbrockmendel commented on #931
This is intended behavior as "ET" is not a recognized timezone name.  If you pass `tzinfos={"ET": dateutil.tz.gettz("US/Eastern")}` to `dateutil.parser.parse` you should get the expected result.

[2019-07-06 04:48] roniemartinez commented on #931
Thanks. dateutil is actually used by another module I am using. I'll open a ticket to them.

[2019-07-06 04:48] #931 closed

[2019-07-06 10:28] NicolasLM opened #932 "Should dateutil include common TZ abbreviations?"
I am using dateutil to parse dates included in RSS feeds which are mostly RFC 822 dates. These dates often make use of timezone abbreviations like `EDT`, `PST`...

Dateutil does not know these abbreviations so it defaults to returning a naive datetime and warns with a `UnknownTimezoneWarning`.

I know that I can pass a `tzinfos` dict to map these abbreviations to a known timezone, but I'm not sure

[2019-07-07 14:34] labrys commented on #932
The problem with timezone abbreviations is that they are ambiguous.  For example, do you mean EDT for the US or for Australia.  Now if you know they are all RFC 822 dates and thus limited to only those listed there, you could simply do a string replace before parsing.

[2019-07-07 15:43] NicolasLM commented on #932
Makes sense, thank you for pointing that out.

If it can be helpful to anyone, here is what I ended with:

[code]

[2019-07-07 15:43] #932 closed

[2019-07-07 15:59] pganssle commented on #929
@GadgetSteve This seems not true:

[code]

And as mentioned on the `setuptools` tracker, this is not necessarily the right thing to do.

[2019-07-07 15:59] #929 closed

[2019-07-07 16:00] pganssle commented on #927
@labrys Thanks for the report, sorry for the delay in responding. I agree with the proposed solution.

[2019-07-08 19:43] labrys commented on #927
@pganssle A try-except-raise should have little to no effect for valid values, but definitely no harm in profiling it :)

[2019-07-09 01:48] gatewaynode opened #936 "Pip packaging data consistency issue"
So here is an interesting data integrity problem for the Python community. Running:

pip install python-dateutil

Actually installs:

python_dateutil... .whl
Which when unzipped reveals:

dateutil
python_dateutil....dist-info
Is it possible to get this cleaned up and consistent given the #5 most used package positition?

IMHO. Date Util should be renamed just date_util(underscore, not dash per pep

[2019-07-09 22:23] gatewaynode commented on #936
Also this might be related to this package ignoring the "--no-deps" flag in pip.

[2019-07-10 09:56] sebix commented on #936
pip replaces dashes with underscores / treats them the same

dateutil is the name of the module, and the name you are using to import it

The inconsistency I see is that the package name is python-dateutil instead of just dateutil. But I am sure that has been discussed a lot in the past.

[2019-07-11 12:21] jozeffrtus opened #937 "request for release"
I see that last release is version `2.8.0` with data `2018i`. Few days ago `2019b` data have been merged to master. Why is it not released? Is there some rationale behind that?

Pls, is it possible to release new version right after tz data are updated? :pray:

Thanks, Jozef

[2019-07-17 14:49] salty-horse opened #938 "rrule's UNTIL dates automatically converted into datetime, fails between() calculation and RRULE string generation"
Using dateutil 2.8.0

This report is based on problems I encountered when using Google and Microsoft's calendar APIs, and interacting with other rrule libraries.

The dateutil rrule module always stores values of `UNTIL` as datetime, outputs its string representation as a datetime rather than a date, and `between` assumes `UNTIL` encodes the exact time the event ends.

The RFC 5545 spec defines th

[2019-07-17 23:55] dwoz commented on #809
This line is trying to `encode` a byte string to unicode. It should be a `decode` if the method should return unicode, no?

On windows, time.tzname is encoded with `mbcs`. See this upstream python issue:
https://bugs.python.org/issue16322

[2019-07-18 13:52] pganssle commented on #809
This decorator is only applied in Python 2, and the `tzinfo` interface for Python 2 expects to return `bytes` (which is to say that `tzname` always returns `str`, however that's defined in the language). All of `dateutil`'s `tzname` methods are written to return unicode objects and this decorator converts them to the appropriate type for the language version.

[2019-07-22 18:30] dwoz commented on #809
Yes, this is what I am saying. We want to return unicode but are doing an `encode` on bytes. `encode` calls are to encode unicode strings. Decode is used to return unicode from encoded bytes, which `tzinfo` has on python2

[2019-07-24 06:42] lukasz-karolewski commented on #806
it's not solving all problems but at least, adding Z would help to preserve timezone aware date through serialization and deserialization

perhaps a minimally disruptive solution could be to include Z if dtstart is timezone aware and skipping when it's naive.

Would you guys consider such PR?

[2019-07-27 03:00] caleb15 commented on #713
YYYY.MM format fails too:

`x=parse('2016.01')`

    x: -{
        date/time: "2016-07-26 00:00:00"
    }

[2019-07-27 03:02] caleb15 commented on #713
@pganssle is YYYY.mm format also ambiguous?

[2019-07-31 13:41] leberknecht opened #939 "[Bug] "<Month> <day>, <Year>" parsed wrong if no whitespace after comma is missing"
Not sure if this is a bug, but i cant find where this would make sense/be-correct:
[code]
version 2.8.0 on python 3.6.7

[2019-08-01 08:01] gpshead opened #941 "_DatetimeWithFold needs a nanosecond attribute for Pandas compatibility"
`pandas._libs.tslibs.conversion.convert_datetime_to_tsobject` requires a `nanosecond` attribute.

[2019-08-01 11:30] pganssle commented on #713
@caleb15 Less so, but anything that is number-dot-number or to some extent number-comma-number will be ambiguous between that and some unit with a decimal portion.

[2019-08-01 11:39] pganssle commented on #941
@gpshead This is actually a bug in `pandas`, it was fixed in pandas-dev/pandas#25851. It is not that `pandas` requires a `nanosecond` attribute but that `pandas` assumes that anything in a datetime column that is not *exactly* a `datetime` is a `pandas.Timestamp` object (in that one part of the code, anyway), which is a faulty assumption. I do not think that mocking out some aspects of the `Timest

[2019-08-01 17:44] gpshead commented on #941
oh nice, i couldn't find a reference to the problem on the pandas side when I went looking and had a hard time following their code's complicated "accept every possible type and do something with it" logic.

[2019-08-02 07:44] Symonen opened #942 "rrulestr ignore DTSTART following elements"
`
In[33]: from dateutil import rrule; import datetime;
In[34]: now = datetime.datetime.now()
In[35]: r1, r2 = rrule.rrule(rrule.DAILY, count=10, dtstart=now), rrule.rrule(rrule.DAILY, count=10, dtstart=now + datetime.timedelta(5))
In[36]: rs = rrule.rruleset()
In[37]: rs.rrule(r1)
In[38]: rs.rrule(r2)
In[39]: rs_str = '{}\n{}'.format(r1, r2)
In[40]: rs_str
Out[40]: 'DTSTART:20190802T093457\nRRULE:

[2019-08-02 12:47] mariocj89 opened #943 "Allow configuring TZPATH through an environment variable"
To facilitate the use of dateutil in platforms where the tzdata is not placed in an "standard location", it would be useful if the user could provide the directory where to look for tzdata through an environment variable. I think we might just need to look that variable up at import time [here](https://github.com/dateutil/dateutil/blob/cbcc0871792e7eed4a42cc62630a08ec7a78be30/dateutil/tz/tz.py#L14

[2019-08-05 15:06] #941 closed

[2019-08-06 23:23] leifwalsh commented on #937
I'm also interested in a dateutil release with the 2019b database. Could we get a release date estimate, and is there anything I can help with to accelerate it?

[2019-08-06 23:24] leifwalsh commented on #937
(#701 would also be great, of course, but is going to take more time to roll out safely)

[2019-08-09 07:57] piotrek204 commented on #901
Hi,
I have the same problem. How about (code below)? I saw a similar solution elsewhere with `__strong_cache`.

[code]

[2019-08-19 11:28] mbdevpl commented on #805
Seems related to or duplicate of #453.

Using `dateutil.parser.parse('Tue, 27 Mar 2018 23:48:52 +0800 (GMT+08:00)', fuzzy=True)` solves the problem.

[2019-08-19 11:29] mbdevpl commented on #930
Seems related to or duplicate of #453.

Using `dateutil.parser.parse('2018-12-10 17:55:02 (GMT+0:00)', fuzzy=True)` solves the problem.

[2019-08-19 11:42] mbdevpl commented on #453
I found two related/duplicate issues: #805 and #930. And I'm facing the same problem as well - specifically, headers of _some_ e-mail messages I'm parsing have the cursed `(GMT+08:00)`, others do not. It seems I can't predict the format, so truncating might be a bad idea.

I have a question for developers: can using `fuzzy=True` introduce some issues for dates that would be otherwise parsed withou

[2019-08-19 17:13] alexterner opened #946 "relativedelta - incorrect result"
from datetime import datetime
from dateutil.relativedelta import relativedelta

print(datetime(2015, 12, 1) + relativedelta(month=+1))
2015-01-01 00:00:00

Actual output:
datetime.datetime(2015, 1, 1, 0, 0)
Expected to be in 2016

[2019-08-19 18:05] jbrockmendel commented on #946
That's the expected result; what you want is `months=1`, not `month=1`

[2019-08-19 18:17] alexterner commented on #946
Thanks, it looks much better now
print(datetime(2015, 12, 1) + relativedelta(months=+1))
2016-01-01 00:00:00****

[2019-08-19 18:17] #946 closed

[2019-08-22 10:14] vvashishtha opened #949 "Fails to parse MMDDYYYY"
Failed to parse value for date MMDDYYY
**>>> parse("22082019")**
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/data/infa_shared/PAYPAL_PDW/Scripts/anaconda3/lib/python3.7/site-packages/dateutil/parser/_parser.py", line 1356, in parse
    return DEFAULTPARSER.parse(timestr, **kwargs)
  File "/data/infa_shared/PAYPAL_PDW/Scripts/anaconda3/lib/python3.7/site-packag

[2019-08-23 18:47] pganssle commented on #937
Yeah, I'm waaaaay behind on all my projects. Right now the biggest release blocker is that the CI configuration is broken because something on Travis has changed. I think if someone wants to pick up the work I started in #945 that would make it easier to cut a release next week some time.

And yeah, #701 is the ideal situation, that is one of my highest priorities for this module.

[2019-08-23 18:49] pganssle commented on #701
As a minor update here, I am planning on working on [adding time zones to the standard library](https://pyfound.blogspot.com/2019/05/paul-ganssle-time-zones-in-standard.html) at the core dev sprint in London in around 2 weeks. One part of that work may be an official time zone package on PyPI, in which case we can use that instead of any special `dateutil.zoneinfo` source of data.

[2019-08-23 20:40] jbrockmendel commented on #701
That sounds like very good news.  Let me know if I can be helpful.

[2019-08-24 20:54] absreim commented on #923
@pganssle I've been looking at this issue for a while. I originally set out to duplicate a subset of the functionality of freeze_gun using unittest.mock.patch but as you might imagine I ran into trouble.

I later created a mock datetime class generator function and successfully modified the tests in test_utils to use it: b383f0bc0b1d093f8bee3810f90aeac5c6c2ce6e

Is that the type of solution you ar

[2019-08-26 09:52] hugovk commented on #937
To fix the 3 Travis CI failures:

* PR https://github.com/dateutil/dateutil/pull/945 for PyPy3
* PR https://github.com/dateutil/dateutil/pull/951 for PyPy2
* PR https://github.com/dateutil/dateutil/pull/953 for Python 3.3

[2019-08-27 17:01] mariocj89 commented on #943
I have [a draft implementation](https://github.com/dateutil/dateutil/compare/master...mariocj89:pu/tz-env) but I am not 100% sure how to test this. You mentioned using a custom tox environment, is the idea to use a tox environment with just a script and test that when we run with some environment variables the values in TZDATA changes? Having a hard time writing the test 🤒

Something else I was th

[2019-08-27 19:19] pganssle opened #954 "test_tz.gettz_badzone_unicode fails on Python 3.6 with LC_ALL=C"
It appears that the test suite assumes that your locale is some UTF-8 locale in Python <3.6 and will fail if it's something like `LC_ALL=C`. We could potentially try and work out some sort of skipping behavior for this, but on the other hand to prevent regressions we'd probably also want to start running the test suite with `LC_ALL=C` - and apparently the problems only arise on older Python versio

[2019-08-29 14:53] torgash-ivanblch opened #956 "rrule(freq, count, byeaster) doesn't work with orthodox algorithm"
1. `dateutils.easter.easter(2020)` returns Easter date calculated by EASTER_WESTERN algorithm.
2. `dateutils.easter.easter(2020, 2)` returns one calculated by EASTER_ORTHODOX algorithm - and that satisfies me pretty well as it's what I actually need, but...
3. `dateutils.rrule.rrule(freq, count, byeaster)` could be extremely useful for generating multiple occurences of Easter and Easter-related ho

[2019-08-29 15:19] pganssle commented on #956
I always hate to add things that our outside the spec, but given that we have `BYEASTER` already it seems fair to allow the use of other types of easter.

However, the original `rrule` parser was designed before [RFC 5545](https://tools.ietf.org/html/rfc5545) and its various extensions. Specifically I'm wondering if [RFC 7529](https://tools.ietf.org/html/rfc7529) might be relevant. I haven't looke

[2019-08-29 15:29] torgash-ivanblch commented on #956
No. You can check that by calculating easter for different years with methods 1 and 2, they are not even simply some days offset from each other, it's complicated.

[2019-08-30 06:12] luotasha opened #957 "python-dateutil not support pipenv"
when i execute:

pipenv install python-dateutil

it’s failed by no match version found, and finnally i found it’s caused by https://pypi.org/simple/ have no entrance for
Python-dateutil. Can you feel to free to look this problem

pipenv is more flexable than pip so i think this excellent package should support pipenv

[2019-08-30 18:50] thestick613 opened #958 "Any chance to support the format 12/21/201616:29:51 ?"
1/2/20177:28:35 -> 1/2/2017 7:28:35
2/21/201612:46:13 -> 2/21/2016 12:46:13

[2019-08-30 18:58] danhamill opened #959 "Incorrect Parsing of dates with underscore delimiter"
If I have the following list of strings:

[code]

And I try to parse the date using `dateutil`:

    from dateutil import parse as dparse
    for i in a:
        print(dparse.parse(i,fuzzy=True))

I get the printout:

    2019-02-21 00:00:00
    2019-02-22 00:00:00
    2019-02-23 00:00:00
    2019-02-24 00:00:00
    2019-02-26 00:00:00
    2019-02-27 00:00:00
    2019-02-28 00:00:00

And the error

[2019-08-30 19:02] pganssle commented on #958
This is unlikely - we cannot support every conceivable date format and we usually try to keep it to formats that are in common use - I don't think this one is. One problem with this format is that it would be impossible to distinguish between dates like `0201-01-01T12:00:00` and `2011-01-01T02:00:00`, both of which would render is `1/2/20112:00:00`. If this is a commonly used format we

If you kno

[2019-08-30 19:09] pganssle commented on #957
`pipenv` is not really something we support or don't support here, we produce standard packages and upload them to PyPI. If anything this is a bug in `pipenv`, but it's not one I can reproduce:

[code]

I suspect this is something to do with the directory you are trying to install this in or a pipfile or something, but I don't really know anything about pipenv.

[2019-08-30 19:09] #957 closed

[2019-08-30 19:11] pganssle commented on #959
I'm not quite sure what's going on here, a minimal reproducing case would be:

[code]

When you use `fuzzy_with_tokens`, we get:

[code]

This is one of a class of bugs where part of a datetime string gets eaten in some way - not included in the datetime *or* in the fuzzy tokens. Last time I saw this I think it was silently eating things it considered to be time zones, but we added a warning for t

[2019-08-30 19:13] pganssle commented on #959
By the way @danhamill, if your datetimes are actually in a fixed format like that, I strongly recommend using `datetime.strftime` instead of `dateutil.parser.parse`. The dateutil parser is really best only for when parsing strings known to be datetimes but in an unknown format.

[2019-08-30 21:13] thestick613 commented on #958
Hello,

I'm using this library to parse a lot of dates in different formats. So far, `dateutil.parser.parse` with `fuzzy=True` did a really good job. There are a few "stranger" formats i'm unable to parse (this is one of them), and i was looking for a way to solve this in a cleaner way. I'll probably end up using some custom logic as a fallback. Thank you.

[2019-08-30 21:38] jbrockmendel commented on #959
Not obvious whats going on here; I'll take a closer look

[2019-08-30 21:40] jbrockmendel commented on #958
@thestick613 can you point us to where "in the wild" these formats show up?

[2019-08-30 21:45] thestick613 commented on #958
Hopefully, nobody uses such a format in the wild. I'm assuming this is the result of an OCR.

[2019-09-02 11:13] luotasha commented on #957
if excute:
pipenv install django-dateutil

here is info:
Hint: try $ pipenv lock --pre if it is a pre-release dependency.
ERROR: ERROR: Could not find a version that matches django-dateutil
No versions found
Was https://pypi.org/simple/ reachable?

i open  https://pypi.org/simple/ and search date-util, surely it's not found. my question is how to add the portal in this link. maybe you can do it wh

[2019-09-03 02:47] luotasha commented on #957
i definitely confirm it's caused by missing portal in   https://pypi.org/simple/, but i don't know what's porpose for this link originaly. pipenv is depend on this link

[2019-09-03 13:10] GriceTurrble commented on #957
There is no package `django-dateutil` listed because it does not exist. The same is true for `date-util`.

This package is called [`python-dateutil`](https://pypi.org/simple/python-dateutil/). If you try to install anything other than that exact string, you will not find it.

As pipenv simply wraps pip, this is not a question of supporting one package manager or the other.

Please check your local

[2019-09-05 20:00] tamis-laan opened #960 "unsupported property: FREQ=YEARLY"
Using the following code:
[code]
I get: `ValueError: unsupported property: FREQ=YEARLY`
Is this a bug? Am I doing something wrong?

[2019-09-19 03:48] ewenmcneill commented on #402
I've just run into this issue *again* with yet another set of data provided in DD/MM/YYYY format, as is common in the majority of the world (at least from data sources that don't use an actual data interchange format like ISO8601 YYYY-MM-DD).

I'd *really* *really* like an `no_american_dates` flag, or a `prefer_european_dates` flag, or even just the previous pre-regression behaviour back.  The cur

[2019-09-22 16:04] pganssle commented on #889
Unfortunately I had to disable Azure pipelines because my account was locked for no apparent reason and there's no obvious way to unlock it without providing a phone number.

I may try to contact Microsoft about remedying this at some point in the future, but there was not an obvious way to do that on the page.

[2019-09-26 21:40] rafa-guedes opened #964 "Support relativedelta in rrule"
Would it be possible / make sense to allow using a `relativedelta` object as the `freq` argument (or perhaps another arg) to run rrule? So that these two would be equivalent:

[code]

[2019-10-01 15:54] Cheukting commented on #939
I can reproduce this case, let me have a look at it? @pganssle

[2019-10-01 16:29] Cheukting commented on #939
I think it is down to the logic of _timelex.get_token(), without space the year will not be considered as a separate token. A new case may be needed in the tokenizing logic.

[2019-10-01 16:42] Cheukting commented on #939
The problem is that "," can be a separator or decimal point. Now the logic only checks if there's more than one "." or "," to determine it is a separator or decimal point. In this case, it will be treated as decimal point according to the current logic.

[2019-10-01 18:10] sebastroy opened #965 "Parser stumbles on Canada postal codes"
`(...)/lib/python3.7/site-packages/dateutil/parser/_parser.py:1206: UnknownTimezoneWarning: tzname L identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
M5H 3L5 is date 2019-03-05 05:00:00`

See above an example of a Canadian postal code that gets confu

[2019-10-03 18:23] pganssle commented on #939
You are welcome to look at it and if it's a relatively minor change it might get merged, but I  usually issue a general warning about too many modifications to the parser. They are super *super* hard to review and can have odd downstream consequences.

[2019-10-03 19:43] Cheukting commented on #939
That's what I am thinking as well @pganssle It will be very difficult and unsure to distinguish 2,1993 meaning 2.1993 seconds and the case above which 1993 refers to a year by just looking at that token. I am afraid it will be more than a minor fix.

[2019-10-05 16:02] Cheukting commented on #959
I have fixed the problem by adding "_" to the list of JUMP. It passes this test and all other tests. I still don't fully understand why it got eat away sometimes. I can tidy up and send a PR soon.

[2019-10-15 16:14] shakhat opened #968 "Odd parsing of date time with timezone and offset"
Often timezone offset is specified as UTC or GMT plus-minus some number, e.g. GMT+02:00 for Central European time. UTC time can be calculated by subtracting the offset from the local time. The same way the local time is calculated by adding the offset to UTC time.

For example that's how this is done in JavaScript:
[code]

But dateutil interprets timezone offset completely opposite:
[code]

Accord

[2019-10-17 11:41] aexvir commented on #937
@pganssle Seeing that the travis PRs were closed/merged, is there anything blocking a new release?

We also had to manually release our own version of this package just because we need the updated `tzdata`

[2019-11-02 14:24] pganssle commented on #936
I think this is more of a problem for the packaging ecosystem. It would be very nice if we could change the package name from `python-dateutil` to `dateutil`, but too many people have already specified their dependencies as `python-dateutil`.

I'd be comfortable switching over to the package being named `dateutil` if we could make `python-dateutil` an alias for `dateutil`, but that's not immediate

[2019-11-02 14:24] #936 closed

[2019-11-02 14:29] anowlcalledjosh commented on #936
It would be easy enough to write a tiny stub package that depends on `dateutil` and upload it as `python-dateutil`, surely? Yes, it would require synchronisation of uploads between `dateutil` and `python-dateutil` to avoid dependency issues (unlike [`bs4`](https://pypi.org/project/bs4/), which just depends on any version of [`beautifulsoup4`](https://pypi.org/project/beautifulsoup4/)), but if ther

[2019-11-02 14:42] pganssle commented on #936
@anowlcalledjosh This would mean that there are two different packages that would *both* get installed if one package depends on `dateutil` and another package depends on `python-dateutil`. Those two packages wouldn't necessarily be in sync and could step on each others' toes (since they'd be installing probably mostly the same files). It could easily create a *huge* mess in your environment.

A s

[2019-11-02 14:45] anowlcalledjosh commented on #936
@pganssle Sure, having two duplicate packages is a bad idea; my idea was what you describe in your second paragraph.

[2019-11-02 15:46] #927 closed

[2019-11-02 23:42] pganssle commented on #870
This was done in #876 and tweaked in #971.

[2019-11-02 23:42] #870 closed

[2019-11-02 23:56] pganssle commented on #960
Sorry for the delay in responding to this, the issue is the format of the `UNTIL`. According to RFC5545, no delimiters should be used for the time formats (see [Section 3.3.5](https://tools.ietf.org/html/rfc5545#section-3.3.5), which references [Section 3.3.4](https://tools.ietf.org/html/rfc5545#section-3.3.4) and [Section 3.312](https://tools.ietf.org/html/rfc5545#section-3.3.12)). We have histor

[2019-11-02 23:59] pganssle commented on #968
See #70. The current way *is* a standard, and it's triggered by the offset being in the form that more closely matches that standard. In the future, we will likely add an option to invert that parsing logic.

[2019-11-02 23:59] #968 closed

[2019-11-03 00:01] pganssle commented on #964
Thank you for your suggestion! RRULE is actually based on an IETF specification, [RFC 5545](https://tools.ietf.org/html/rfc5545), which does not map neatly onto the concept of a `relativedelta` (at least not in the "freq" portion of it). RRULE is a very complicated way of specifying datetimes, though, so you can almost always express what you want without resorting to `relativedelta`. The advantag

[2019-11-03 00:01] #964 closed

[2019-11-03 00:41] pganssle commented on #942
@Symonen Thank you for your report, sorry for the delay in responding.

I will have to look into this. I am mildly surprised that you can construct an `rruleset` by concatentating `RRULE`s like this; I think the best thing to do is to check how RRULE sets are normally represented (if at all) in [RFC 5545](https://tools.ietf.org/html/rfc5545), and hopefully that will give us a clue as to whether we

[2019-11-03 01:07] #918 closed

[2019-11-03 01:45] #901 closed

[2019-11-03 02:05] pganssle commented on #938
@salty-horse Thank you for the detailed report, I am very sorry that it has taken me this long to respond.

We definitely need to get better about handling the differences between `DATE` and `DATE-TIME`. This one might be a tricky one to solve, but my general rule for `rrule` is that we should follow the RFC. If you have time, do you think you can dig up a citation for the inclusiveness behavior o

[2019-11-03 06:30] hugovk commented on #937
Dateutil 2.8.1 has just been released!

https://github.com/dateutil/dateutil/releases/tag/2.8.1

[2019-11-04 15:11] pganssle commented on #937
Sorry for the delay everyone. I have cut a new release. I will try to cut new releases as soon as tzdata comes out, at least until #701 is fixed.

[2019-11-04 15:11] #937 closed

[2019-11-04 15:11] pganssle commented on #937
Thanks @hugovk for making the release possible and for pointing out that this bug can be closed.

[2019-11-04 15:24] hugovk commented on #937
You're very welcome, and thank you for dateutil!

[2019-11-18 18:18] bramski opened #979 "RRuleSet can't generate recurrences when USE_TZ=true and dtstart and dtend not specified"
Code to reproduce:
[code]

Produces:
[code]

[2019-11-18 18:40] bramski commented on #979
I'm actually really not sure how to fix this since `dateutil` is inherently outside of the django utils world and doesn't have much way to see that there's a current timezone and generate an offset-aware `datetime.now()` Can anyone make a suggestion? I'd be happy to write a PR but it's not clear to me how you'd fix this.  Seems like the iterator needs to be initialized at the date you're starting

[2019-11-18 20:16] pganssle commented on #979
@bramski I don't know what django has to do with this here, you get the same thing pulling out the `pytz` ([don't use pytz](https://blog.ganssle.io/articles/2018/03/pytz-fastest-footgun.html)) and `django` stuff:

[code]

It is generally something of a problem to do a timezone-aware rrule because of ambiguous and imaginary datetimes. In this case, your best bet is to simply remove the time zones f

[2019-11-18 20:18] phillbaker opened #980 "rrulestr.count() weekly can fail for weekend days"
Using:
* python3.6
* dateutil 2.6.0  and 2.8.0

Invocations like `rrule.rrulestr('RRULE:FREQ=WEEKLY;INTERVAL=1;BYDAY=SA').count()` raise ValueError for `BYDAY` values of `SA` and `SU`, but not `MO`, `TU`, etc.

Reproduction:
[code]

[2019-11-18 20:50] pganssle commented on #980
Interesting, there's no limiting rule on these, so I'm actually kinda surprised they don't *all* raise `ValueError`, since `count()` just exhausts the iterator, which *should* be infinite. Usually when you try to do something like that, it just crashes when it gets to the arbitrary point at which `datetime` can't represents the dates anymore.

Maybe we can adjust the behavior to be a bit more cons

[2019-11-18 23:08] phillbaker commented on #980
@pganssle thanks for taking a look.

I admit, I was surprised that infinitely repeating rules returned a number (and I admit it's can be very slow). Detecting infinite rules would be a great start, some thoughts:
* looking for cases where  `rrulestr()._count` is `None` seems like a starting spot.
* maybe `count()` should return `float('inf')` in these cases?

[2019-11-19 21:23] pganssle opened #981 "parser raises `TypeError` in wrapper logic"
Apparently sometimes the parser catches a type of `ValueError` *other* than the ones we raise - specifically `IllegalMonthError`, which takes as an argument something other than a string. Minimal reproducer:

[code]

This raises the following error:
<details>

[code]
</details>

The core of the issue is [this line](https://github.com/dateutil/dateutil/blob/fc9b1625ebc729f01e449879b6b140abd12ae621/

[2019-11-20 23:57] ThrawnCA commented on #402
The `strptime` workaround is effective, but it's difficult to apply when dateutil is being called from a third party library like https://github.com/okfn/messytables

We're currently resorting to patching messytables on the fly in our Chef cookbook when we set up a server, using a multiline regex replacement, which is far from ideal.

[2019-11-25 03:25] mitar commented on #981
We also had an issue with this after upgrade to 2.8.1: https://gitlab.com/datadrivendiscovery/common-primitives/issues/119

Our example:

[code]

[2019-11-25 06:02] ashwini-balnaves commented on #981
I am also affected by this.

[2019-11-27 09:59] seitenbau-govdata commented on #981
We are affected by the bug, too. I think every software is affected which uses the dateutil lib in version 2.8.1 and does only catch the class ValueError and not catch the general class Exception.

[2019-12-01 20:24] lutoma opened #984 "PSA: There is a fake version of this package on PyPI with malicious code"
Just a quick heads-up: There is a fake version of this package called `python3-dateutil` on PyPI that contains additional imports of the `jeIlyfish` package (itself a fake version of the `jellyfish` package, that first L is an I). That package in turn contains malicious code starting at line 313 in `jeIlyfish/_jellyfish.py`:

[code]

which deobfuscates to
[code]

I've sent an email to the Python s

[2019-12-01 20:31] pganssle commented on #984
Thank you for reporting this Lukas!

On December 1, 2019 8:24:51 PM UTC, Lukas Martini <notifications@github.com> wrote:

[2019-12-01 22:52] lutoma commented on #984
The python security team just responded and they've removed the malicious packages, so unless there is some other action you want to take this can be closed I suppose.

[2019-12-01 23:12] coderanger commented on #984
The bitly link points at a gitlab.com repo. Has someone contacted them to take that down too?

[2019-12-02 14:59] pganssle commented on #984
Thanks @lutoma, I will close this now.

I will note that on @asmeurer's suggestion, I have edited the code so that you have to deliberately modify it in order to execute it, in case someone was blindly copy-pasting to see what it does.

@coderanger Good idea, Gitlab is showing that the user is already reported for abuse, so I assume either you did it or you inspired someone to do it, so thanks!

[2019-12-02 14:59] #984 closed

[2019-12-04 12:01] imankulov commented on #984
Just for the record. If you wonders what the code was actually doing, here's the excerpt of the decoded version.

[code]

IP-address 68.183.212.246 belongs to DigitalOcean, reported via their form: https://www.digitalocean.com/company/contact/abuse/

[2019-12-04 16:32] ewjoachim commented on #984
@pganssle / @imankulov you may want to add another `raise Exception()` in the snippet of the comment below before someone shoots themselves in the foot :)

[2019-12-04 18:59] Plazmaz commented on #984
For the sake of information gathering, it looks like that bitly link has been pulled (or clicked) a total of 278x:
https://bitly.com/25VZxUbmkr+
(263 are direct referrals)

[2019-12-04 21:32] TheCedarPrince commented on #984
This is quite disturbing. Do you know how we could identify this package versus the real dateutil package in a pip installation?

[2019-12-05 00:27] ivanlan9 commented on #984
How about "python-dateutil"? Is that also malicious?  It was under my python3 tree, and I had "python3-dateutil" underneath my documention tree, so I went ahead and removed it.  I'll see if anything breaks.

[2019-12-05 02:23] jesup commented on #984
FYI, in Fedora 29, there's a "python3-dateutil" package (v 2.7.5, build 31 Jan 2019) which appears to not include jellyfish.  The hypothesis is that it's a renamed version of python-dateutil by RedHat.

$ md5sum /var/cache/PackageKit/30/metadata/fedora-30-x86_64/packages/python3-dateutil-2.8.0-1.fc30.noarch.rpm
cc57732e09ed35f85ff4916471387b08  /var/cache/PackageKit/30/metadata/fedora-30-x86_64/pa

[2019-12-05 02:34] pganssle commented on #984
@TheCedarPrince `pip freeze` should list everything installed, if the package is called `python3-dateutil` you have the malicious version.

@ivanlan9 `python-dateutil` is the normal name for the package on PyPI.

@jesup `python3-dateutil` is a fairly common naming scheme for linux and other distros that ship code for multiple languages, which is presumably why the person called their malicious pac

[2019-12-05 02:52] SeanKim777 commented on #984
Anyone have hash value (sha256 or MD5) for python3-dateutil and jeIlyfish?
This is to hunt within the environment
eg. hash for jeIlyfish/_jellyfish.py?
and hash for the file contains 68.183.212.246?

[2019-12-05 04:16] shayneoneill commented on #984
Is there some way to search PiPy and Github to find projects with this dependency to give them a heads up?

[2019-12-05 05:06] abhiTronix commented on #984
**Omg, This `jeilyfish` package stats:**

Downloads last day: 13
Downloads last week: 103
Downloads last month: 119

https://pypistats.org/packages/jeilyfish

[2019-12-05 18:16] vicenteherrera commented on #984
As @pganssle has said, that naming scheme is also used for distro packages, not the same as PyPI libraries naming. Certainly that is why that name was chosen in the first place.

It wouldn't be logic to have so many existing instances being that it has been on the wild for a couple of days, while the jeilyfish library has been around for a year (as read at https://www.zdnet.com/article/two-malicio

[2019-12-08 19:26] timgates42 opened #985 "Fix simple typo: negilible -> negligible"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate

1. Examine dateutil/utils.py.
2. Search for `negilible`.

# Expected Behaviour

1. Should read `negligible`.

[2019-12-11 15:43] Ming-D-BigData commented on #984
Will running PyPI erase this malicious package from local cache?

[2019-12-13 18:21] vicenteherrera commented on #984
I believe if you already have requirements installed for your application, the library will remain there with all its malicious code (but the URL for the second stage of code will not be available, and the server IP address should no longer be available to receive your secrets).

Recommend checking what libraries you use, change definitions for legitimate ones (just change the names in imports and

[2019-12-23 06:35] conan25216 commented on #984
python security team already take down the package at Dec 2th 2019 on officical library. How can they be download without mirror after that? ( without mirror means download from official library?)
or I got wrong with the tag "without the mirror?"
thank you!

[2019-12-23 21:08] eastface-deploy commented on #981
Just adding another "This affects me too".

[2019-12-23 21:10] eastface commented on #981
I'm seeing this error, too.

[2019-12-23 21:15] pganssle commented on #981
Please do not add "I'm affected by this" or "+1" comments here.

I've outlined the solution in the first post, I would be happy to review and merge a PR fixing it, but I have a large backlog.

[2019-12-25 12:10] Killer-I opened #988 "'parse()' method converting junk value to date"
`from dateutil.parser import parse`
`print(parse('7H2UWUUU'))`

`2019-12-25 07:02:00`

When a junk value is passed to parse method which contains 'H' in 2nd place and numbers in 1st and 3rd place it is returning current date.

 Is there any way to avoid this and get exception instead of date?

[2019-12-28 06:49] yohplala commented on #968
Hello,
I still encounter this trouble.
I am parsing dates that are formatted this way (stored in a list):
[code]
(as you may notice the timezone the data come from has a DST, which allowed me to spot the trouble)

I add them in a dataframe as datetime object.
`
GC['date'] = pd.to_datetime(my_timestamps)`

As a result, I get:
[code]
If you apply directly the offset with utc=True, you will see that

[2019-12-28 06:59] yohplala commented on #70
Hello,
Is there any update on this issue?
I am sorry, I encountered this trouble as well. I added an example in
https://github.com/pandas-dev/pandas/issues/30518

When resolving the offset with a timezone that has DST in a panda dataframee, and using these timestamps as indexes, this reversed behavior causes trouble has it creates duplicate indexes.
Please, is there any workaround?
I thank you in

[2019-12-29 18:20] jbrockmendel commented on #988
Part of the issue is that the parser is identifying a junk timezone "UWUUU" and then ignoring it.  Since #540 it should be issuing a warning about this.  That warning says that the eventual behavior is going to be to raise on an unrecognized timezone, which would resolve this issue.

Implementing #886 would also solve this, but is further off (and not even agreed upon as  going to be done at all).

[2019-12-29 19:38] pganssle commented on #988
I consider the *fundamental* issue, that sometimes non-datetimes will be parsed as datetimes, to be out of scope for this project. We could maybe do a better job advertising this in the documentation (I haven't checked recently), but I think that a major assumption of the parser is that there's a datetime here to parse, and it will see "illusions" in the string in many situations, not just this on

[2019-12-29 19:43] pganssle commented on #70
@yohplala No, there is no update at the moment. The parser is a bit of a hard nut to crack. I haven't thought about it in a while but it's really down to coming up with a better way to configure the parser than we have now without adding a bunch of confusing and potentially conflicting flags.

[2020-01-02 10:41] pawelmhm commented on #988
I see this happens also for single digit strings with integer, e.g. string '2' is converted to valid date.

[code]

But I agree it is not a real bug, but feature of library, it is better to document that. If you are asking for fuzzy match and passing some junk value that can be anything you cannot expect it will be alwasy reliable

[2020-01-02 16:44] pganssle opened #991 "ParserError custom __repr__ is not reached"
There is an indentation error in [the definition for `__str__`/`__repr__` in `dateutil.parser.ParserError`](https://github.com/dateutil/dateutil/blob/f6c6d5cb97ce460c9510846bf14e945b2b16ead0/dateutil/parser/_parser.py#L1603), which means that `__repr__` is never even defined for the class:

[code]

I think the definition of the repr is also a bit problematic, in that even if you fix the indentatio

[2020-01-02 17:07] pganssle opened #992 "parser.parse documentation doesn't mention ParserError"
The current documentation for `parser.parse` says that `ValueError`, rather than `ParserError` is raised. The `ParserError` exception itself is also not documented.

I will fix both of these in a forthcoming PR.

[2020-01-02 17:59] #981 closed

[2020-01-02 19:30] #991 closed

[2020-01-03 04:08] elfetica opened #995 "Parsing dates without separator"
I've just started using dateutil and love it... but it has ONE major problem. Although it manages to make sense of everything you throw at it with two flags (brilliant!) it can't parse dates without delimiters for some reason. Things like: "24122019" will fail every single time and one must resort to workarounds, which is really annoying.

Though I realize there might be some challanges, they seem

[2020-01-06 09:17] ZacBi opened #996 "Incorrect division(e.g. relativedelta(minutes=1) / 2)"
Today I tried to type statements below but the result was weird.

[code]
So I looked into the code and found that:
https://github.com/dateutil/dateutil/blob/110a09b4ad46fb87ae858a14bfb5a6b92557b01d/dateutil/relativedelta.py#L570-L578

continued:

https://github.com/dateutil/dateutil/blob/110a09b4ad46fb87ae858a14bfb5a6b92557b01d/dateutil/relativedelta.py#L495-L516

Is `int()` operation necessary?

[2020-01-10 17:52] NinjaMeTimbers commented on #268
As someone living in Canada, our standard date formats are YYYYMMDD and DDMMYYYY like the commenter above in Australia. I need a way to preferentially use YYYYMMDD then DDMMYYYY which worked fine in version 2.5.1 using dayfirst=True.  Reading the documentation it seems to support my interpretation of how dayfirst should work:

According to my reading of this, if dayfirst=True and yearfirst=False,

[2020-01-10 18:56] groboclown commented on #197
I'm seeing this issue still happen using dateutil v2.8.1 on Python 3.7.1 and Windows 10.

Version 2.5.3 does not have the issue.  All versions afterward still fail with this problem.

For those trying to work around the issue due to a deep dependency generating the error, you can downgrade to version 2.5.3 (e.g. `pip install -Iv python-dateutil==2.5.3`).

[2020-01-11 15:11] benhowes commented on #996
I've just had this problem with multiplication, e.g. `relativedelta(days=1) * 1.5 == relativedelta(days=1)`, though I can see it's always been like this. Making a change to that behaviour would have to be considered a breaking change too, because some people are probably relying on that behaviour.

As such, I've just made this for my use case:

[code]

This raises a warning if you multiply the int

[2020-01-13 21:39] pjh5 opened #997 "March 3rd 1am US/Eastern equals one hour later when converted to UTC"
Minimal repro:
[code]
I thought that the last equality check above should always be False, for all timezone-aware datetimes, no matter what timezones the datetime is converted to.

I checked that I see the correct behavior (at least what I expected) when I set d to an hour earlier (if d is March 3rd, 2020 at 00:01 then the final check is False). I did not check other timezones or dates.

I'm guess

[2020-01-13 22:03] pganssle commented on #997
@pjh5 I have [a blog post on this very subject](https://blog.ganssle.io/articles/2018/02/a-curious-case-datetimes.html) that was inspired by #338, which has a few other layers of indirection.

Basically the problem is this premise:

It is possible to create aware, non-existent datetimes through arithmetic or just using the constructor. If you want them to represent a specific datetime in the timel

[2020-01-13 22:04] #997 closed

[2020-01-13 22:20] pjh5 commented on #997
@pganssle thanks for the explanation, but now I have a follow up question.

In the example above, `d` _is_ a true existing time. It is only when I add an hour to it that it become non-existant.
[code]
So why doesn't adding timedeltas always preserve the existance of a datetime? I'd expect `d + ONE_HOUR` to correctly equal 3am local time instead of the non-existing 2am.

[2020-01-13 22:50] pganssle commented on #997
@pjh5 That is basically down to how datetime arithmetic works, see the [second blog post I referenced](https://blog.ganssle.io/articles/2018/02/aware-datetime-arithmetic.html) for more details. The TL;DR is that "addition" does not mean "add a certain amount of time in UTC", it means "move the clock/calendar forward by this amount and attach the same time zone".

[2020-01-14 16:05] mcarans opened #998 "fuzzy_with_tokens parse should return the original date string elements"
Currently fuzzy_with_tokens parse returns a datetime and the list of strings that were not part of the date. It would be very valuable to get the list of strings used to form the datetime.

eg. parse 'Myanmar Town July 2019 dataset' could return:
(datetime.datetime(2019, 7, 14, 0, 0), ('Myanmar Town ', ' ', 'dataset'), ('July', '2019'))

[2020-01-15 08:03] ZacBi commented on #996
@benhowes  Thanks for your solution. :smile:

[2020-01-16 16:18] salty-horse commented on #938
I appear to be off the mark with this bug.

Google's `UNTIL` rule is always treated as a DATE-TIME. and a time component isn't specified, it's assumed to be midnight.

In my example above, I only tested an all-day event. In that case, google's UNTIL rule is YYYYMMDD, such as `UNTIL=20200121`. However, if I change the event to not be all-day, the UNTIL rule is changed to a UTC date representing mid

[2020-01-17 08:44] #996 closed

[2020-01-17 19:43] jinwg opened #1000 "unstable parsing result with fuzzy"
if seems when miss the space between the comma and year,  the fuzzy parsing will get into trouble.

Failed,   year seems ignored.
parser.parse("Today is May 17,2019 at 8:21:00AM", fuzzy=True)
Out[3]: datetime.datetime(2020, 5, 17, 8, 21)

Works  for the  sample from document works.
parser.parse("Today is January 1,2019 at 8:21:00AM", fuzzy=True)
Out[4]: datetime.datetime(2019, 1, 1, 8, 21)

Failed

[2020-01-20 10:30] mcarans commented on #402
I have also run into this problem and am also using fuzzy parsing so the workaround with strptime will not help.

[2020-01-20 10:34] mcarans commented on #268
YYYYMMDD and DDMMYYYY parsing is what is needed for anywhere outside the US!

[2020-01-20 11:27] qpkorr commented on #268
Since writing my previous comment lamenting the "fix" that this thread addresses, some time ago I added the following comment to my code for when we upgrade past dateutil version 2.5.1. Sharing it just in case it assists anyone else.

# We've had some issues with upgrading to dateutil version 2.5.3 (in debian stretch) as it's incapable
# of easily handling both iso formats, and dd/mm/yyyy formats.

[2020-01-21 20:54] smitshah993 opened #1001 "Incorrect timedelta when substracting DST and non DST"
Hi,

I am facing the following issue:

dateutil: 2.8.1
Python: Python 3.7.3

[code]

This should be +11 as there was a change in daylight savings time.

[2020-01-23 08:53] mcarans commented on #998
For those who need this functionality and find this issue, you can either use higher level functions I've implemented here:
https://github.com/OCHA-DAP/hdx-python-utilities#date-parsing-utilities

Or if you want the same interface as dateutils, then you use hdx.utilities.dateparse.parse which is modified for ambiguous dates to be day first D/M/Y where there are values in front of the year and day

[2020-01-23 08:56] mcarans commented on #241
For those who need this functionality and find this issue, you can either use higher level functions I've implemented here:
https://github.com/OCHA-DAP/hdx-python-utilities#date-parsing-utilities

Or if you want the same interface as dateutils, then you use hdx.utilities.dateparse.parse which is modified for ambiguous dates to be day first D/M/Y where there are values in front of the year and day

[2020-01-23 15:10] pganssle commented on #998
Per my reasoning in #999, I think we will decline this functionality.

I think we have general vague plans to add an interface that will do something like this, by adding an intermediate form of `dateutil.parser.parse` that returns something closer to a `re.match` object including metadata about the parse (and hopefully one that can be re-used in a cache to make additional parses quicker).

I will

[2020-01-23 15:19] pganssle commented on #1001
@smitshah993 `dateutil.relativedelta.relativedelta` is not intended to be an absolute measure of time between two events - the way you are constructing it, it is more of a "calendar delta". I have written a [blog post about datetime math in Python](https://blog.ganssle.io/articles/2018/02/aware-datetime-arithmetic.html) that may help illustrate the issue for you.

Basically, if you want to know th

[2020-01-23 15:19] #1001 closed

[2020-01-30 09:57] DoDzilla-ai opened #1003 "TypeError: sigterm_handler() takes 0 positional arguments but 2 were given"
I am trying to find the number of dates inside a CSV file with this code:
[code]
I don't know what is changed but this was working without a problem in the past. I am running this as a multiprocessed function. If I use the **spawn** method I don't encounter any error but if I use **fork** method I am getting this error:
[code]
and the program hangs there. It actually runs for a while but for some

[2020-01-30 17:07] the-moog opened #1004 "It's costsly to find the min/max datetime from an rrrule as it expands the set"
add a __min__() and __max__() special method that shortcuts generating a list of events if possible.
If the instance has a _dtstart or _dtend return that value instead of expanding the entire set of data.
This would be a massive speedup.

[2020-01-30 18:21] pganssle commented on #1004
@the-moog I think there's no need for this, because the `min()` and `max()` methods would basically just be:

[code]

We can probably update the documentation to make it clear that these are the most efficient ways to get the minimum and maximum elements, I suppose, with the caveat that rrules aren't guaranteed to terminate, so `some_rrule[-1]` for many just take a long time and then crash when it

[2020-01-30 18:30] the-moog commented on #1004
But would not self[0] still result in calling __iter__(self) and that would update caches etc, when the answer is already there in _dtstart?
I agree with what you say about self[-1] however for the same reason if _until is present that would be faster for the same reason.
Also if there is no end then max()  would return None immediately rather than pointlessly iterating until the end of the univer

[2020-01-30 18:42] pganssle commented on #1004
`_dtstart` and `_until` are not necessarily valid recurrences, and the "simple" mechanisms you propose for finding the last occurrence will only work in particularly simple rrules.

Like I said, I expect that one day we can optimize many aspects of simpler `rrule`s with a "fast path" and "slow path", but when those optimizations come they will also optimize `r[0]` and `r[-1]`, so there's no need f

[2020-02-10 11:25] stuaxo opened #1005 "QUARTERLY rrule ?"
Hi,
   Would it be possible to add QUARTERLY to rrule ?

Cheers
S

[2020-02-10 11:30] stuaxo commented on #1005
(similar thing for half yearly too)

[2020-02-11 21:20] simon-budig opened #1006 "rrule-parser fails on example-timezone definition in rfc5545"
RFC5545 gives some example definitions for timezones in icalendar files. The following code uses the rrule-relevant parts of the "Fictitious" timezone definition in Section 3.6.5 (Page 70):

    from dateutil import rrule
    rruledata = """\
    DTSTART:19870405T020000
    RRULE:FREQ=YEARLY;BYDAY=1SU;BYMONTH=4;UNTIL=19980404T070000Z
    """
    rr = rrule.rrulestr (rruledata)

This code fails wit